{% extends "home.html" %}
{% load static %}

{% block css %}
<!-- INTERNAL SINGLE-PAGE CSS -->
<link href={% static 'assets/plugins/single-page/css/main.css' %} rel="stylesheet" type="text/css">
{% endblock css %}

<!-- PAGE -->
{% block page %}
<!-- PAGE -->
<div class="page">
	<div class="">
		<div class="col col-login mx-auto">
			<div class="text-center">
				<img src={% static 'assets/images/brand/logo-3.png' %} class="header-brand-img" alt="logo">
			</div>
		</div>
		<!-- CONTAINER OPEN -->
		<div class="container-login100">
			<div class="row">
				<div class="col col-login mx-auto">
					<form class="card" method="post">
						<div class="card-body p-3">
							<h3 class="text-center card-title"> <i class="fa fa-thumbs-up fa-3x"></i></h3>
              <div class="text-center">
                <p class="text-dark mb-0">
                We've emailed you instructions for setting your password, if an account exists with the email you entered.
                You should receive them shortly.
                </p>
                <p class="text-dark mb-0">
                If you don't receive an email, please make sure you've entered the address you registered with,
                and check your spam folder.
                </p>
              </div>
              <div class="text-center text-muted mt-3 ">
								<a href="{% url "login" %}">send me back</a> to the sign in screen.
              </div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- CONTAINER CLOSED -->
	</div>
</div>
<!--END PAGE -->
{% endblock page %}
<!-- End PAGE -->