{% extends "home.html" %}
{% load static %}
{% block title %}About Us{% endblock title %}


<!-- page-content -->
{% block page_content %}
	<!-- ABOUT
        ================================================== -->
    
        <!-- About Us -->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="200ms">
                        <div class="pe-lg-5">
                            <h2 class="h1 mb-3 lh-1">About Bay-Tech Group</h2>
                            <p class="mb-2"><span class="font-weight-600">“Professional Ship Designer and Ship Builder”</span> for public & private clients with finances saving economy.</p>
                            <p class="mb-3 mb-lg-4">
                                BAY-TECH provides ship design, Shipbuilding, Repair works, Non-destructive testing (NDT), Shipbuilding consultancy, and logistics services to the marine industry. Since its inception in 2007, Bay-Tech has built a strong reputation for reliable and quality products by designing, shipbuilding and consulting on more than 300 different types of vessels.
                            </p>
                            <div class="aboutus-text border-start mb-3 mb-lg-4">
                                <i class="fas fa-quote-left ps-3 ps-lg-4 opacity2"></i>
                                <p class="ps-3 ps-lg-4 mb-0">Quality Shipbuilding is our motto.</p>
                                <span class="ps-3 ps-lg-4 text-primary">Engr. Md. Tazul Islam, Chairman</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 d-none d-lg-block wow fadeInUp" data-wow-delay="350ms">
                        <div class="bg-img cover-background box-shadow-primary h-100" data-overlay-dark="0" data-background="{% static 'assets/img/content/shipbuilders.jpg' %}">
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!-- MISSION STATEMENT -->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 d-none d-lg-block wow fadeInUp" data-wow-delay="425ms">
                        <div class="bg-img cover-background box-shadow-primary h-100" data-overlay-dark="0" data-background="{% static 'assets/img/content/our-mission.jpg' %}">
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="500ms">
                        <div class="pe-lg-5">
                            <h2 class="h1 mb-3 lh-1">Mission Statement</h2>
                            <p class="mb-3 mb-lg-4">
                                Our primary mission is to design and build custom vessels as per client’s requirement according to classification societies standards for both the inland and seagoing markets on a foundation of quality. The shipyard will be an independent and autonomous partner for their customers and other interested parties. We will strive to provide maximum added value by focusing on the latest technology (both in design and production).
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- COUNTER
        ================================================== -->
        <section class="parallax secondary-overlay" data-overlay-dark="8" data-background="img/bg/bg12.jpg">
            <div class="container">
                <div class="row align-items-center">

                    <div class="col-md-5 mb-1-9 mb-md-0">
                        <div class="story-video unset-sm">
                            <div class="text-center z-index-1">
                                <a class="popup-youtube video_btn" href="https://www.youtube.com/watch?v=H52uNAP3ERg"><i class="fas fa-play"></i>
                            </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-7">

                        <h2 class="text-white h1 lh-1 mb-3">Modern ship design & Quality ship building.</h3>

                        <p class="display-29 text-white lh-base w-90 m-0">Bay-Tech shipbuilders was instituted in 2016 on the bank of the river old Brahmaputra near Langalbandh, Narayanganj by visionary naval architect Md. Tazul Islam for blending quality shipbuilding with innovative technology at an affordable price. The company enjoys a unique position in Bangladesh where it has built most of its commercial ships. Production area comprises around 17,000 square meters with modern types of machinery and equipment.</p>
                        <div class="separator-line-horrizontal-full bg-white opacity2 my-1-6 my-sm-1-9 my-md-2-9"></div>

                        <div class="row">
                            <div class="col-4">
                                <div class="counter-box text-center text-md-start">
                                    <div class="h4 text-white d-block">
                                        <div class="odometer" data-count="986">0</div>
                                    </div>
                                    <div class="separator-line-horrizontal-medium-light3 bg-primary my-2 my-lg-3 opacity5 mx-auto mx-md-0"></div>
                                    <p class="lead font-weight-600 text-white m-0">Visitors</p>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="counter-box text-center text-md-start">
                                    <div class="h4 text-white d-block">
                                        <div class="odometer" data-count="875">0</div>
                                    </div>
                                    <div class="separator-line-horrizontal-medium-light3 bg-primary my-2 my-lg-3 opacity5 mx-auto mx-md-0"></div>
                                    <p class="lead font-weight-600 text-white m-0">Clients</p>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="counter-box text-center text-md-start">
                                    <div class="h4 text-white d-block">
                                        <div class="odometer" data-count="542">0</div>
                                    </div>
                                    <div class="separator-line-horrizontal-medium-light3 bg-primary my-2 my-lg-3 opacity5 mx-auto mx-md-0"></div>
                                    <p class="lead font-weight-600 text-white m-0">Awards</p>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!-- OUR VALUES -->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="550ms">
                        <div class="pe-lg-5">
                            <h2 class="h1 mb-3 lh-1">Our Values</h2>
                            <p class="mb-3 mb-lg-4">
                                Our primary mission is to design and build custom vessels as per client’s requirement according to classification societies standards for both the inland and seagoing markets on a foundation of quality. The shipyard will be an independent and autonomous partner for their customers and other interested parties. We will strive to provide maximum added value by focusing on the latest technology (both in design and production).
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6 d-none d-lg-block wow fadeInUp" data-wow-delay="650ms">
                        <div class="bg-img cover-background box-shadow-primary h-100" data-overlay-dark="0" data-background="{% static 'assets/img/content/team-photo.jpg' %}">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        
{% endblock page_content %}
<!-- page-content -->
