{% extends "home.html" %}
{% load static %}
{% block title %}About Us{% endblock title %}


<!-- page-content -->
{% block page_content %}
	<!-- ABOUT
        ================================================== -->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="pe-lg-5">
                            <h2 class="h1 mb-3 lh-1">About Crizal</h2>
                            <p class="mb-2"><span class="font-weight-600">“Pride of the business for over a hundred years”</span> for public & private clients with finances saving economy.</p>
                            <p class="mb-3 mb-lg-4">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                            <div class="aboutus-text border-start mb-3 mb-lg-4">
                                <i class="fas fa-quote-left ps-3 ps-lg-4 opacity2"></i>
                                <p class="ps-3 ps-lg-4 mb-0">Exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>
                                <span class="ps-3 ps-lg-4 text-primary">Militon Wiafer, CEO</span>
                            </div>
                            <p class="mb-0">Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 d-none d-lg-block">
                        <div class="bg-img cover-background box-shadow-primary h-100" data-overlay-dark="0" data-background="img/content/about-04.jpg">
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!-- COUNTER
        ================================================== -->
        <section class="parallax secondary-overlay" data-overlay-dark="8" data-background="img/bg/bg12.jpg">
            <div class="container">
                <div class="row align-items-center">

                    <div class="col-md-5 mb-1-9 mb-md-0">
                        <div class="story-video unset-sm">
                            <div class="text-center z-index-1">
                                <a class="popup-youtube video_btn" href="https://www.youtube.com/watch?v=pDWUf_g2zsc"><i class="fas fa-play"></i>
                            </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-7">

                        <h2 class="text-white h1 lh-1 mb-3">Trusted business consultant to fulfill your dreams.</h3>

                        <p class="display-29 text-white lh-base w-90 m-0">pariatur aboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.</p>
                        <div class="separator-line-horrizontal-full bg-white opacity2 my-1-6 my-sm-1-9 my-md-2-9"></div>

                        <div class="row">
                            <div class="col-4">
                                <div class="counter-box text-center text-md-start">
                                    <div class="h4 text-white d-block">
                                        <div class="odometer" data-count="986">0</div>
                                    </div>
                                    <div class="separator-line-horrizontal-medium-light3 bg-primary my-2 my-lg-3 opacity5 mx-auto mx-md-0"></div>
                                    <p class="lead font-weight-600 text-white m-0">Visitors</p>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="counter-box text-center text-md-start">
                                    <div class="h4 text-white d-block">
                                        <div class="odometer" data-count="875">0</div>
                                    </div>
                                    <div class="separator-line-horrizontal-medium-light3 bg-primary my-2 my-lg-3 opacity5 mx-auto mx-md-0"></div>
                                    <p class="lead font-weight-600 text-white m-0">Clients</p>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="counter-box text-center text-md-start">
                                    <div class="h4 text-white d-block">
                                        <div class="odometer" data-count="542">0</div>
                                    </div>
                                    <div class="separator-line-horrizontal-medium-light3 bg-primary my-2 my-lg-3 opacity5 mx-auto mx-md-0"></div>
                                    <p class="lead font-weight-600 text-white m-0">Awards</p>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!-- WHAT WE DO
        ================================================== -->
        <section>
            <div class="container">
                <div class="section-heading">
                    <h2 class="h1 lh-1">What We Do</h2>
                </div>
                <div class="row feature-boxes-container mt-n1-9">

                    <div class="col-md-6 col-lg-4 mt-1-9 feature-box-04">
                        <div class="feature-box-inner h-100">
                            <i class="icon-layers display-16"></i>
                            <h4 class="h6 mt-2 text-uppercase">Business Services</h4>
                            <div class="sepratar"></div>
                            <p>Exhaustive technology of implementing multi purpose projects is putting your project successful.</p>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 mt-1-9 feature-box-04">
                        <div class="feature-box-inner h-100">
                            <i class="icon-genius display-16"></i>
                            <h4 class="h6 mt-2 text-uppercase">Saving Investments</h4>
                            <div class="sepratar"></div>
                            <p>Exhaustive technology of implementing multi purpose projects is putting your project successful.</p>
                        </div>

                    </div>

                    <div class="col-md-6 col-lg-4 mt-1-9 feature-box-04">
                        <div class="feature-box-inner h-100">
                            <i class="icon-hotairballoon display-16"></i>
                            <h4 class="h6 mt-2 text-uppercase">Online Consulting</h4>
                            <div class="sepratar"></div>
                            <p>Exhaustive technology of implementing multi purpose projects is putting your project successful.</p>
                        </div>
                    </div>

                </div>

            </div>
        </section>
{% endblock page_content %}
<!-- page-content -->
