{% extends "home.html" %}
{% load static %}
{% block title %}Facilities{% endblock title %}


<!-- page-content -->
{% block page_content %}
	<!-- PAGE TITLE-->
	<section class="page-title-section bg-img cover-background secondary-overlay" data-overlay-dark="9">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>Our Facilities</h1>
				</div>
			</div>
		</div>
	</section>
	<!-- Facilities
        ================================================== -->
        <section>
            <div class="container">
                <div class="row">
                    <!-- start right side section -->
                    <div class="col-lg-12 order-1 order-lg-2 mb-1-9 mb-lg-0">
                        <div>
                            <div class="row mb-2-2">
                                <div class="col-lg-12">
                                    <h3 class="mb-3">Business Strategies</h3>
                                    <p class="w-95">
                                        Business strategies are the plans and actions a company takes to achieve its long-term goals, outpace competitors, and establish a strong market position. The right strategies help businesses stay focused, optimize resources, and drive growth while adapting to changing conditions. It is essential for decision-making, resource allocation, and gaining a sustainable advantage over competitors.
                                    </p>
                                    <p class="w-95 mb-0">
                                        Each business will require a unique strategy tailored to its specific needs, goals, resources, and industry context. Would you like to dive deeper into any specific strategy, or do you have a particular business scenario in mind?  A good business strategy outlines how a company will compete, grow, and operate within its industry. 
                                    </p>
                                </div>
                            </div>                            
                            <div class="row mb-2-2">
                                <div class="col-md-12">
                                    <h3 class="mb-3">Our Strategies</h3>
                                    <p class="w-95 mb-5">Business strategies are critical frameworks that organizations use to achieve their objectives, navigate market challenges, and maintain a competitive edge. These strategies guide companies in making decisions on how to allocate resources, grow the business.</p>
                                    <div class="row mt-n1-9 mb-3">
                                        <div class="col-md-6 col-lg-4 mt-1-9">
                                            <div class="text-center">
                                                <i class="icon-expand mb-3 display-6 text-primary font-weight-500"></i>
                                                <h4 class="h5 mb-3">Investment Services</h4>
                                                <span>Physician Herman Boerhaave modeled the digestive process.</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-4 mt-1-9">
                                            <div class="text-center">
                                                <i class="icon-bargraph mb-3 display-6 text-primary font-weight-500"></i>
                                                <h4 class="h5 mb-3">Trusted Services</h4>
                                                <span>Physician Herman Boerhaave modeled the digestive process.</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-4 mt-1-9">
                                            <div class="text-center">
                                                <i class="icon-linegraph mb-3 display-6 text-primary font-weight-500"></i>
                                                <h4 class="h5 mb-3">Best Analysis</h4>
                                                <span>Physician Herman Boerhaave modeled the digestive process.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <h3 class="mb-3">Frequently Asked Questions</h3>
                                    <div class="accordion" id="accordion">
                                        <div class="card">
                                            <h2 class="card-header" id="headingOne">
                                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">How can I purchase this item?</button>
                                            </h2>
                                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordion">
                                                <div class="card-body">
                                                    If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <h2 class="card-header" id="headingTwo">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">Why unique and creative design?</button>
                                            </h2>
                                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordion">
                                                <div class="card-body">
                                                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <h2 class="card-header" id="headingThree">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">Are you ready to buy this theme?</button>
                                            </h2>
                                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordion">
                                                <div class="card-body">
                                                    It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <h2 class="card-header" id="headingFour">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">How long do i need to follow the advice ?</button>
                                            </h2>
                                            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordion">
                                                <div class="card-body">
                                                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end right side section -->
                </div>
            </div>
        </section>
{% endblock page_content %}
<!-- page-content -->