{% extends "home.html" %}
{% load static %}
{% block title %}About Us{% endblock title %}


<!-- page-content -->
{% block page_content %}
    <!-- PAGE TITLE-->
    <section class="page-title-section bg-img cover-background secondary-overlay" data-overlay-dark="9">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>On Going Project List</h1>
                </div>
            </div>
        </div>
    </section>

    <!-- start Project section -->
    <section>
        <div class="container">
            <div class="row mt-n1-9">
                <div class="col-lg-6 mt-1-9">
                    <div class="case-block">
                        <div class="row align-items-xl-center">
                            <div class="col-md-6">
                                <div class="bg-img cover-background min-height-250 h-100" data-background="{% static 'assets/img/projects/pro-6.jpg' %}"></div>
                            </div>
                            <div class="col-md-6">
                                <div class="case-block-inner">
                                    <h4 class="h5">Quality Services</h4>
                                    <p>Exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat reprehenderit.</p>
                                    <a href="project_details.html">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mt-1-9">
                    <div class="case-block">
                        <div class="row align-items-xl-center">
                            <div class="col-md-6">
                                <div class="bg-img cover-background min-height-250 h-100" data-background="{% static 'assets/img/projects/pro-7.jpg' %}"></div>
                            </div>
                            <div class="col-md-6">
                                <div class="case-block-inner">
                                    <h4 class="h5">Research Financial</h4>
                                    <p>Exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat reprehenderit.</p>
                                    <a href="cases.html#!">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mt-1-9">
                    <div class="case-block">
                        <div class="row align-items-xl-center">
                            <div class="col-md-6">
                                <div class="bg-img cover-background min-height-250 h-100" data-background="{% static 'assets/img/projects/pro-8.jpg' %}"></div>
                            </div>
                            <div class="col-md-6">
                                <div class="case-block-inner">
                                    <h4 class="h5">Quality Services</h4>
                                    <p>Exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat reprehenderit.</p>
                                    <a href="cases.html#!">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mt-1-9">
                    <div class="case-block">
                        <div class="row align-items-xl-center">
                            <div class="col-md-6">
                                <div class="bg-img cover-background min-height-250 h-100" data-background="{% static 'assets/img/projects/pro-9.jpg' %}"></div>
                            </div>
                            <div class="col-md-6">
                                <div class="case-block-inner">
                                    <h4 class="h5">Research Financial</h4>
                                    <p>Exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat reprehenderit.</p>
                                    <a href="cases.html#!">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mt-1-9">
                    <div class="case-block">
                        <div class="row align-items-xl-center">
                            <div class="col-md-6">
                                <div class="bg-img cover-background min-height-250 h-100" data-background="{% static 'assets/img/projects/project-3b.jpg' %}"></div>
                            </div>
                            <div class="col-md-6">
                                <div class="case-block-inner">
                                    <h4 class="h5">Customer Experience</h4>
                                    <p>Exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat reprehenderit.</p>
                                    <a href="cases.html#!">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mt-1-9">
                    <div class="case-block">
                        <div class="row align-items-xl-center">
                            <div class="col-md-6">
                                <div class="bg-img cover-background min-height-250 h-100" data-background="{% static 'assets/img/projects/project-4b.jpg' %}"></div>
                            </div>
                            <div class="col-md-6">
                                <div class="case-block-inner">
                                    <h4 class="h5">Market Analysis</h4>
                                    <p>Exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat reprehenderit.</p>
                                    <a href="cases.html#!">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- PAGINATION START FROM HERE -->
            {% include "components/pagination.html" %}
        </div>
    </section>
{% endblock page_content %}
<!-- page-content -->
