{% extends "home.html" %}
{% load static %}
{% block title %}Project Details{% endblock title %}


<!-- page-content -->
{% block page_content %}
    <!-- PAGE TITLE-->
    <section class="page-title-section bg-img cover-background secondary-overlay" data-overlay-dark="9">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ item.proejct_name }}</h1>
                </div>
                <div class="col-md-12">
                    <ul class="ps-0">
                        <li>{{ item.proejct_type|title }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    
    <!-- PROJECT DETAILS -->
    <section>
        <div class="container">
            <div class="project-single">
                <div class="project-single-img"><img alt="..." src="/media/{{ item.project_photo }}" class="border-radius-10 shadow-primary"></div>
                <div class="row project-single-text my-1-9">
                    <div class="col-lg-7 mb-1-9 mb-lg-0">
                        <div class="section-heading half left">
                            <h2 class="lh-1">Project Special Feature</h2>
                        </div>
                        <p>
                            {{ item.special_feature }}
                        </p>                        
                    </div>
                    <div class="col-lg-4 offset-lg-1">
                        <div class="section-heading half left">
                            <h2 class="lh-1">Project Particular</h2>
                        </div>
                        <div class="project-single-info">
                            <ul class="list-unstyled mb-0">
                                <li><label class="align-top">Length Overall:</laebl> <span class="value">{{ item.length }}</span></li>
                                <li><label class="align-top">Breadth (Mld):</label> <span class="value">{{ item.breadth }}</span></li>
                                <li><label class="align-top">Depth (Mld):</label> <span class="value">{{ item.depth }}</span></li>
                                <li><label class="align-top">Draft:</label> <span class="value"> {{ item.draft }}</span></li>
                                <li><label class="align-top">Max. Speed:</label> <span class="value">{{ item.max_speed }}</span></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row mb-1-9 mb-lg-6">

                    <div class="col-12">
                        <div class="horizontaltab">
                            <ul class="resp-tabs-list hor_1">
                                <li>Project Information</li>
                                <li>Major Machineries</li>
                            </ul>
                            <div class="resp-tabs-container hor_1">
                                <div>
                                    <div class="section-heading left half">
                                        <h3>Project Information</h3>
                                    </div>
                                    <ul class="primary-list m-0">
                                        <li><i class="fas fa-caret-right"></i><span class="font-weight-800">Contract Sign Date:</span> {{ item.projectinformation.contract_date }}</li>
                                        <li><i class="fas fa-caret-right"></i><span class="font-weight-800">Delivery Date:</span> {{ item.projectinformation.delivery_date }}</li>
                                        <li><i class="fas fa-caret-right"></i><span class="font-weight-800">Classification Society:</span> {{ item.projectinformation.classification|upper }}</li>
                                        <li><i class="fas fa-caret-right"></i><span class="font-weight-800">Client:</span> {{ item.projectinformation.client }}</li>
                                    </ul>
                                </div>
                                <div>
                                    <div class="row align-items-center">
                                        <div class="col-md-7">
                                            <div class="section-heading left half">
                                                <h3>Major Machineries</h3>
                                            </div>
                                            <ul class="primary-list m-0">
                                                <li><i class="fas fa-caret-right"></i><span class="font-weight-800">Main Engine Brand & Origin:</span> {{ item.projectmachinery.main_engine }}</li>
                                                <li><i class="fas fa-caret-right"></i><span class="font-weight-800">Main Engine Power:</span> {{ item.projectmachinery.engine_power }}</li>
                                                <li><i class="fas fa-caret-right"></i><span class="font-weight-800">Main Engine Quantity:</span> {{ item.projectmachinery.engine_quantity }}</li>
                                                <li><i class="fas fa-caret-right"></i><span class="font-weight-800">Generator Brand & Origin:</span> {{ item.projectmachinery.main_dg }}</li>
                                                <li><i class="fas fa-caret-right"></i><span class="font-weight-800">Generator Capacity:</span> {{ item.projectmachinery.dg_power }}</li>
                                                <li><i class="fas fa-caret-right"></i><span class="font-weight-800">Generator Quantity:</span> {{ item.projectmachinery.dg_quantity }}</li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    
{% endblock page_content %}
<!-- page-content -->
