{% extends "home.html" %}
{% load static %}
{% block title %}Project Details{% endblock title %}


<!-- page-content -->
{% block page_content %}
    <!-- PAGE TITLE-->
    <section class="page-title-section bg-img cover-background secondary-overlay" data-overlay-dark="9">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Project Details</h1>
                </div>
            </div>
        </div>
    </section>
    
    <!-- PROJECT DETAILS -->
    <section>
        <div class="container">
            <div class="project-single">
                <div class="project-single-img"><img alt="..." src="{% static 'assets/img/projects/single.jpg' %}" class="border-radius-10 shadow-primary"></div>
                <div class="row project-single-text my-1-9">
                    <div class="col-lg-7 mb-1-9 mb-lg-0">
                        <div class="section-heading half left">
                            <h2 class="lh-1">About Project</h2>
                        </div>
                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                            eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur.</p>
                        <p class="mb-0">consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Uveniam, quis nostrud exercitation ullamco laboris nisi ut aliquip commodo consequat. Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
                    </div>
                    <div class="col-lg-4 offset-lg-1">
                        <div class="section-heading half left">
                            <h2 class="lh-1">Project Information</h2>
                        </div>
                        <div class="project-single-info">
                            <ul class="list-unstyled mb-0">
                                <li><span class="align-top">Category:</span> <span class="value">Business</span></li>
                                <li><span class="align-top">Status:</span> <span class="value">Complete</span></li>
                                <li><span class="align-top">Partners:</span> <span class="value">Niamah Hower</span></li>
                                <li><span class="align-top">Date:</span> <span class="value"> 18 Feb, <span class="current-year"></span></span></li>
                                <li><span class="align-top">Website:</span> <span class="value">www.yourdomain.com</span></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row mb-1-9 mb-lg-6">

                    <div class="col-12">
                        <div class="horizontaltab">
                            <ul class="resp-tabs-list hor_1">
                                <li>Project Features</li>
                                <li>Solution</li>
                                <li>Result</li>
                            </ul>
                            <div class="resp-tabs-container hor_1">
                                <div>
                                    <div class="section-heading left half">
                                        <h3>Project Features</h3>
                                    </div>

                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                                        ea commodo consequat.</p>
                                    <ul class="primary-list m-0">
                                        <li><i class="fas fa-caret-right"></i>Strategy And Optimisation consulting</li>
                                        <li><i class="fas fa-caret-right"></i>Technologies And Innovations consultant</li>
                                        <li><i class="fas fa-caret-right"></i>Financial Planning consultant</li>
                                        <li><i class="fas fa-caret-right"></i>Secured Transactions consultant</li>
                                        <li><i class="fas fa-caret-right"></i>Technologies And Innovations consultant</li>
                                        <li><i class="fas fa-caret-right"></i>Financial Planning consultant</li>
                                        <li><i class="fas fa-caret-right"></i>Secured Transactions consultant</li>
                                    </ul>

                                </div>
                                <div>
                                    <div class="section-heading left half">
                                        <h3>Solution</h3>
                                    </div>

                                    <p>Adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                                        in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident sunt in culpa qui officia omnis iste natus error sit voluptatem accusantium Consectetur.</p>
                                    <p>Adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                                        in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident sunt in culpa qui officia omnis iste natus error sit voluptatem accusantium Consectetur.</p>

                                </div>
                                <div>
                                    <div class="row align-items-center">
                                        <div class="col-md-5 mb-4 mb-md-0"><img src="{% static 'assets/img/content/project-01.jpg' %}" alt="..."></div>
                                        <div class="col-md-7">
                                            <div class="section-heading left half">
                                                <h3>Result</h3>
                                            </div>
                                            <p class="mb-0">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia
                                                dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- start related project section -->
            <div class=project-carousel>
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-heading half left">
                            <h2 class="lh-1">Related Projects</h2>
                        </div>
                        <div class="owl-carousel owl-theme text-center" id="project-single">

                            <div class="project-grid mt-0">
                                <div class="project-grid-img"><img alt="img" src="{% static 'assets/img/projects/pro-2.jpg' %}">
                                </div>
                                <div class="project-grid-overlay">
                                    <div class="w-100">
                                        <h4><a href="project-detail.html#!">Investment Project</a></h4>
                                        <p>Finance Plan</p>
                                    </div>
                                </div>
                            </div>

                            <div class="project-grid mt-0">
                                <div class="project-grid-img"><img alt="img" src="{% static 'assets/img/projects/pro-1.jpg' %}">
                                </div>
                                <div class="project-grid-overlay">
                                    <div class="w-100">
                                        <h4><a href="project-detail.html#!">Investment Planning</a></h4>
                                        <p>Finance Plan</p>
                                    </div>
                                </div>
                            </div>

                            <div class="project-grid mt-0">
                                <div class="project-grid-img"><img alt="img" src="{% static 'assets/img/projects/pro-3.jpg' %}">
                                </div>
                                <div class="project-grid-overlay">
                                    <div class="w-100">
                                        <h4><a href="project-detail.html#!">Online Consulting</a></h4>
                                        <p>Business Plan</p>
                                    </div>
                                </div>
                            </div>

                            <div class="project-grid mt-0">
                                <div class="project-grid-img"><img alt="img" src="{% static 'assets/img/projects/pro-6.jpg' %}">
                                </div>
                                <div class="project-grid-overlay">
                                    <div class="w-100">
                                        <h4><a href="project-detail.html#!">Saving Investments</a></h4>
                                        <p>Consulting Plan</p>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
            <!-- end related project section -->

        </div>
    </section>
    
{% endblock page_content %}
<!-- page-content -->
