{% extends "home.html" %}
{% load static %}
{% block title %}Ship Design{% endblock title %}

{% block css %}
<!-- revolution slider css -->
<link rel="stylesheet" href="{% static 'assets/css/rev_slider/settings.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/rev_slider/layers.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/rev_slider/navigation.css' %}">
{% endblock css %}
<!-- page-content -->
{% block page_content %}
<!-- BANNER
        ================================================== -->
<div id="rev_slider_149_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-source="gallery" style="background-color:#2d3032;padding:0px;">
    <!-- START REVOLUTION SLIDER 5.4.1 fullscreen mode -->
    <div id="rev_slider_149_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.1">
        <ul>
            <!-- SLIDE  -->
            <li data-index="rs-407" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="2000" data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1000"
                data-fsslotamount="7" data-saveperformance="off" data-title="One" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

                <!-- overlay -->
                <div class="opacity-extra-medium bg-secondary z-index-1"></div>

                <!-- MAIN IMAGE -->
                <img src="{% static image_urls.0 %}" alt="" data-bgposition="center center" data-kenburns="on" data-duration="20000" data-ease="Linear.easeNone" data-scalestart="130" data-scaleend="100" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0"
                    data-bgparallax="6" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->
                <div id="rrzm_407" class="rev_row_zone rev_row_zone_middle" style="z-index: 6;">

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption  " id="slide-407-layer-14" data-x="['left','left','left','left']" data-hoffset="['100','100','100','100']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="none" data-height="none" data-whitespace="nowrap"
                        data-type="row" data-columnbreak="2" data-basealign="slide" data-responsive_offset="on" data-responsive="off" data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                        data-margintop="[-100,-100,-100,-75]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]" data-marginleft="[0,0,0,0]" data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[100,50,50,50]"
                        data-paddingbottom="[0,0,0,0]" data-paddingleft="[100,50,50,50]" style="z-index: 6; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1.00);">
                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption  " id="slide-407-layer-15" data-x="['left','left','left','left']" data-hoffset="['100','100','100','100']" data-y="['top','top','top','top']" data-voffset="['100','100','100','100']" data-width="none" data-height="none" data-whitespace="nowrap"
                            data-type="column" data-responsive_offset="on" data-responsive="off" data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-columnwidth="100%" data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]" data-marginleft="[0,0,0,0]" data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 7; width: 100%;">
                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption   tp-resizeme" id="slide-407-layer-1" data-x="['left','left','center','center']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['0','0','230','110']" data-fontsize="['110','90','100','70']" data-lineheight="['100','90','100','70']"
                                data-width="['none','none','100%','100%']" data-height="none" data-whitespace="['nowrap','nowrap','normal','normal']" data-type="text" data-basealign="slide" data-responsive_offset="on" data-frames='[{"delay":"+290","split":"chars","splitdelay":0.05,"speed":750,"frame":"0","from":"y:40px;sX:1.5;sY:1.5;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"sX:1;sY:1;opacity:0;fb:10px;","ease":"Power4.easeOut"}]'
                                data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[30,20,30,30]" data-marginleft="[0,0,0,0]" data-textAlign="['inherit','inherit','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,40,40]"
                                data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,40,40]" style="z-index: 8; white-space: nowrap; font-size: 110px; line-height: 100px; font-weight: 600; color: rgba(255, 255, 255, 1.00); display: inline-block;letter-spacing:-5px;">Ship building & Repairing</div>

                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption   tp-resizeme" id="slide-407-layer-2" data-x="['left','left','center','center']" data-hoffset="['0','50','0','0']" data-y="['top','top','top','top']" data-voffset="['0','430','460','290']" data-fontsize="['30','30','40','25']" data-lineheight="['40','40','50','30']"
                                data-width="['none','100%','100%','100%']" data-height="none" data-whitespace="normal" data-type="text" data-basealign="slide" data-responsive_offset="on" data-frames='[{"delay":"+890","split":"chars","splitdelay":0.03,"speed":300,"frame":"0","from":"sX:2;sY:2;opacity:0;fb:5px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;fb:10px;","ease":"Power4.easeOut"}]'
                                data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]" data-marginleft="[0,0,0,0]" data-textAlign="['inherit','inherit','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                                data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 9; white-space: normal; font-size: 30px; line-height: 40px; font-weight: 300; color: rgba(255, 255, 255, 1.00); display: block;">Ship building & Repairing </div>
                        </div>
                    </div>
                </div>

                <!-- LAYER NR. 5 -->
                <div class="tp-caption tp-shape tp-shapewrapper " id="slide-407-layer-16" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full"
                    data-height="full" data-whitespace="normal" data-type="shape" data-basealign="slide" data-responsive_offset="off" data-responsive="off" data-frames='[{"delay":10,"speed":2000,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                    data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5;background-color:rgba(0, 0, 0, 0.35);">
                </div>
            </li>

            <!-- SLIDE  -->
            <li data-index="rs-408" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="2000" data-rotate="0" data-saveperformance="off" data-title="Two"
                data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

                <!-- overlay -->
                <div class="opacity-extra-medium bg-secondary z-index-1"></div>

                <!-- MAIN IMAGE -->
                <img src="{% static image_urls.1 %}" alt="" data-bgposition="center center" data-kenburns="on" data-duration="20000" data-ease="Linear.easeNone" data-scalestart="130" data-scaleend="100" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0"
                    data-bgparallax="6" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->
                <div id="rrzm_408" class="rev_row_zone rev_row_zone_middle" style="z-index: 6;">

                    <!-- LAYER NR. 6 -->
                    <div class="tp-caption  " id="slide-408-layer-14" data-x="['left','left','left','left']" data-hoffset="['100','100','100','100']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="none" data-height="none" data-whitespace="nowrap"
                        data-type="row" data-columnbreak="2" data-basealign="slide" data-responsive_offset="on" data-responsive="off" data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                        data-margintop="[-100,-100,-100,-75]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]" data-marginleft="[0,0,0,0]" data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[100,50,40,40]"
                        data-paddingbottom="[0,0,0,0]" data-paddingleft="[100,50,40,40]" style="z-index: 6; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1.00);">
                        <!-- LAYER NR. 7 -->
                        <div class="tp-caption  " id="slide-408-layer-15" data-x="['left','left','left','left']" data-hoffset="['100','100','100','100']" data-y="['top','top','top','top']" data-voffset="['100','100','100','100']" data-width="none" data-height="none" data-whitespace="nowrap"
                            data-type="column" data-responsive_offset="on" data-responsive="off" data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-columnwidth="100%" data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]" data-marginleft="[0,0,0,0]" data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 7; width: 100%;">
                            <!-- LAYER NR. 8 -->
                            <div class="tp-caption   tp-resizeme" id="slide-408-layer-1" data-x="['left','left','center','center']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['0','0','230','110']" data-fontsize="['110','90','100','70']" data-lineheight="['100','90','100','70']"
                                data-width="['none','none','100%','100%']" data-height="none" data-whitespace="['nowrap','nowrap','normal','normal']" data-type="text" data-basealign="slide" data-responsive_offset="on" data-frames='[{"delay":"+290","split":"chars","splitdelay":0.05,"speed":750,"frame":"0","from":"y:40px;sX:1.5;sY:1.5;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"sX:1;sY:1;opacity:0;fb:10px;","ease":"Power4.easeOut"}]'
                                data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[30,20,30,30]" data-marginleft="[0,0,0,0]" data-textAlign="['inherit','inherit','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,40,40]"
                                data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,40,40]" style="z-index: 8; white-space: nowrap; font-size: 110px; line-height: 100px; font-weight: 600; color: rgba(255, 255, 255, 1.00); display: inline-block;letter-spacing:-5px;">Ship building & Repairing</div>

                            <!-- LAYER NR. 9 -->
                            <div class="tp-caption   tp-resizeme" id="slide-408-layer-2" data-x="['left','left','center','center']" data-hoffset="['0','50','0','0']" data-y="['top','top','top','top']" data-voffset="['0','430','460','290']" data-fontsize="['30','30','40','25']" data-lineheight="['40','40','50','30']"
                                data-width="['none','100%','100%','100%']" data-height="none" data-whitespace="normal" data-type="text" data-basealign="slide" data-responsive_offset="on" data-frames='[{"delay":"+890","split":"chars","splitdelay":0.03,"speed":300,"frame":"0","from":"sX:2;sY:2;opacity:0;fb:5px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;fb:10px;","ease":"Power4.easeOut"}]'
                                data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]" data-marginleft="[0,0,0,0]" data-textAlign="['inherit','inherit','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                                data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 9; white-space: normal; font-size: 30px; line-height: 40px; font-weight: 300; color: rgba(255, 255, 255, 1.00); display: block;">Ship building & Repairing </div>
                        </div>
                    </div>
                </div>

                <!-- LAYER NR. 10 -->
                <div class="tp-caption tp-shape tp-shapewrapper " id="slide-408-layer-16" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full"
                    data-height="full" data-whitespace="normal" data-type="shape" data-basealign="slide" data-responsive_offset="off" data-responsive="off" data-frames='[{"delay":10,"speed":2000,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                    data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5;background-color:rgba(0, 0, 0, 0.35);">
                </div>
            </li>

            <!-- SLIDE  -->
            <li data-index="rs-409" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="2000" data-rotate="0" data-saveperformance="off" data-title="Three"
                data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

                <!-- overlay -->
                <div class="opacity-extra-medium bg-secondary z-index-1"></div>

                <!-- MAIN IMAGE -->
                <img src="{% static image_urls.2 %}" alt="" data-bgposition="center center" data-kenburns="on" data-duration="20000" data-ease="Linear.easeNone" data-scalestart="130" data-scaleend="100" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0"
                    data-bgparallax="6" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->
                <div id="rrzm_409" class="rev_row_zone rev_row_zone_middle" style="z-index: 6;">

                    <!-- LAYER NR. 11 -->
                    <div class="tp-caption  " id="slide-409-layer-14" data-x="['left','left','left','left']" data-hoffset="['100','100','100','100']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="none" data-height="none" data-whitespace="nowrap"
                        data-type="row" data-columnbreak="2" data-basealign="slide" data-responsive_offset="on" data-responsive="off" data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                        data-margintop="[-100,-100,-100,-75]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]" data-marginleft="[0,0,0,0]" data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[100,50,40,40]"
                        data-paddingbottom="[0,0,0,0]" data-paddingleft="[100,50,40,40]" style="z-index: 6; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1.00);">
                        <!-- LAYER NR. 12 -->
                        <div class="tp-caption  " id="slide-409-layer-15" data-x="['left','left','left','left']" data-hoffset="['100','100','100','100']" data-y="['top','top','top','top']" data-voffset="['100','100','100','100']" data-width="none" data-height="none" data-whitespace="nowrap"
                            data-type="column" data-responsive_offset="on" data-responsive="off" data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-columnwidth="100%" data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]" data-marginleft="[0,0,0,0]" data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 7; width: 100%;">
                            <!-- LAYER NR. 13 -->
                            <div class="tp-caption   tp-resizeme" id="slide-409-layer-1" data-x="['left','left','center','center']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['0','0','230','110']" data-fontsize="['110','90','100','70']" data-lineheight="['100','90','100','70']"
                                data-width="['none','none','100%','100%']" data-height="none" data-whitespace="['nowrap','nowrap','normal','normal']" data-type="text" data-basealign="slide" data-responsive_offset="on" data-frames='[{"delay":"+290","split":"chars","splitdelay":0.05,"speed":750,"frame":"0","from":"y:40px;sX:1.5;sY:1.5;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"sX:1;sY:1;opacity:0;fb:10px;","ease":"Power4.easeOut"}]'
                                data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[30,20,30,30]" data-marginleft="[0,0,0,0]" data-textAlign="['inherit','inherit','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,40,40]"
                                data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,40,40]" style="z-index: 8; white-space: nowrap; font-size: 110px; line-height: 100px; font-weight: 600; color: rgba(255, 255, 255, 1.00); display: inline-block;letter-spacing:-5px;">Ship building & Repairing </div>

                            <!-- LAYER NR. 14 -->
                            <div class="tp-caption   tp-resizeme" id="slide-409-layer-2" data-x="['left','left','center','center']" data-hoffset="['0','50','0','0']" data-y="['top','top','top','top']" data-voffset="['0','430','460','290']" data-fontsize="['30','30','40','25']" data-lineheight="['40','40','50','30']"
                                data-width="['none','100%','100%','100%']" data-height="none" data-whitespace="normal" data-type="text" data-basealign="slide" data-responsive_offset="on" data-frames='[{"delay":"+890","split":"chars","splitdelay":0.03,"speed":300,"frame":"0","from":"sX:2;sY:2;opacity:0;fb:5px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;fb:10px;","ease":"Power4.easeOut"}]'
                                data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]" data-marginleft="[0,0,0,0]" data-textAlign="['inherit','inherit','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                                data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 9; white-space: normal; font-size: 30px; line-height: 40px; font-weight: 300; color: rgba(255, 255, 255, 1.00); display: block;">Ship building & Repairing </div>
                        </div>
                    </div>
                </div>

                <!-- LAYER NR. 15 -->
                <div class="tp-caption tp-shape tp-shapewrapper " id="slide-409-layer-16" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full"
                    data-height="full" data-whitespace="normal" data-type="shape" data-basealign="slide" data-responsive_offset="off" data-responsive="off" data-frames='[{"delay":10,"speed":2000,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                    data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5;background-color:rgba(0, 0, 0, 0.35);">
                </div>
            </li>
        </ul>
        <div style="" class="tp-static-layers">

            <!-- LAYER NR. 16 -->
            <a class="tp-caption rev-btn  tp-static-layer butn white xs-wide" href="#" id="slider-149-layer-18" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['bottom','bottom','bottom','bottom']" data-voffset="['175','100','140','90']"
                data-width="none" data-height="none" data-whitespace="nowrap" data-type="button" data-actions='' data-basealign="slide" data-responsive_offset="off" data-responsive="off" data-startslide="0" data-endslide="2" data-frames='[{"delay":1600,"speed":1000,"frame":"0","from":"y:20px;sX:1.5;sY:1.5;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;fb:10px;","ease":"Power4.easeOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;fb:0;"}]'
                data-textAlign="['inherit','inherit','inherit','inherit']" style="z-index: 9; white-space: nowrap; outline:none;cursor:pointer;">Scroll Down</a>
        </div>
        <div class="tp-bannertimer" style="height: 10px; background-color: rgba(255, 255, 255, 0.25);"></div>
    </div>
</div>

<!-- GRID
================================================== -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>Introduction</h4>
                <p class="mb-0">Bay-Tech shipyard is equipped with various structures, equipment, and tools to handle different types of vessels and maintain a smooth workflow. Our focus is to help achieve the right balance in terms of design and operational capability for the vessel.</p>
            </div>
        </div>
    </div>

    <!--one half-->
    <div class="container">
        <div class="row">
            <div class="col-md-6 mt-1-9 wow fadeInUp" data-wow-delay="500ms">
                <h4>Ship Repairing</h4>
                <p>We provide various types of repair work by our experienced Engineering team & skilled workers.</p>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">Hull Repair: Fixing damage to ship's hull including cracks, dents, and corrosion.</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">Propeller and Rudder: Fixing or replacing damaged propellers and rudders.</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">Deck equipment repairs</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">Pipeline repairs</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">Tank repairs etc.</span><br>
            </div>
            <div class="col-md-6 mt-1-9 wow fadeInUp" data-wow-delay="200ms">
                <h4>Image Slider</h4>
                
            </div>
            <!-- ROW 2 START -->
            <div class="col-md-6 mt-1-9 wow fadeInUp" data-wow-delay="200ms">
                <h4>Image Slider</h4>
                
            </div>
            <div class="col-md-6 mt-1-9 wow fadeInUp" data-wow-delay="500ms">
                <h4>Shipyard Facility</h4>
                <p>Bay-Tech shipyard is designed for the construction, repair, and maintenance of ships.</p>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">Total Area: 20,000 M2</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">Open Production Area: 17,000 M2</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">Labor dormitory for 100 workers</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">Administrative Offices</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">Office for Owner & Class.</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">Central store / Material storage.</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">Mechanical Workshop.</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">Security Department.</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">Canteen.</span><br>
            </div>
            
            <!-- row 3 start here -->
            <div class="col-md-6 mt-1-9 wow fadeInUp" data-wow-delay="500ms">
                <h4>Shipyard Machinery</h4>
                <p>Bay-Tech shipyard is equipped with various types of machinery and tools to handle different types of vessels and maintain a smooth workflow.</p>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">Plate Bending Machine.</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">Plate Blasting Machine</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">Plasma CNC Machine (Project)</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">Mechanical Workshop</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">60 X 3P Welding Machine</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">Painting equipment including spray booth and sandblasting machine.</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">Welding Cutting Set</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">Winces and windlasses</span><br>
            </div>
            <div class="col-md-6 mt-1-9 wow fadeInUp" data-wow-delay="200ms">
                <h4>Image Slider</h4>
                
            </div>
            <!-- Row 4 Start here -->
            <div class="col-md-6 mt-1-9 wow fadeInUp" data-wow-delay="200ms">
                <h4>Image Slider</h4>
                
            </div>
            <div class="col-md-6 mt-1-9 wow fadeInUp" data-wow-delay="500ms">
                <h4>Lifting Appliances</h4>
                <p>Lifting appliances in a shipyard plays a crucial role in ensuring the smooth flow of materials and parts throughout the facility.</p>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">Forklifts.</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">Hand Trucks.</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">Storage Rakes</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">Pallet Jack (Project)</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">Cranes (Project)</span><br>
            </div>
            <!-- Row 5 Start here -->
            <div class="col-md-6 mt-1-9 wow fadeInUp" data-wow-delay="500ms">
                <h4>Certification</h4>
                <p>Bay-Tech is an ISO 9001:2015 certified shipbuilding industry and it has been building ships under classification societies like BV, GL and RINA. Bay-Tech also provides high quality and cost effective ship repair and marine solutions through professional expertise to customers.</p>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">“A” Category Shipyard – Enlisted In DOSu.</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">“B” Category Shipyard – Enlisted In MMD.</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">“Shipyard For River Bank” – NOC From BIWTA</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">“NOC” From Department Of Environment (DOE).</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">“NOC” From Dept. Of Inspec. For Factories & Establishments (DIFE).</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">“Fire License” From Bangladesh Fire Service & Civil Defense.</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">“Trade License” From Narayangonj City Corporation (NCC)</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">Membership” Of NCCI</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">Approval” From BIDA.</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">“VAT Registration” From National Board Of Revenue (NBR)</span><br>
            </div>
            <div class="col-md-6 mt-1-9 wow fadeInUp" data-wow-delay="200ms">
                <h4>Image Slider</h4>
                
            </div>
        </div>
        <!-- CLIENTS -->
        {% include "components/approval-authority.html" %}
    </div>
</section>

{% endblock page_content %}
<!-- page-content -->

{% block js %}
<!-- revolution slider js files start -->
<script src="{% static 'assets/js/rev_slider/jquery.themepunch.tools.min.js' %}"></script>
<script src="{% static 'assets/js/rev_slider/jquery.themepunch.revolution.min.js' %}"></script>
<script src="{% static 'assets/js/rev_slider/extensions/revolution.extension.actions.min.js' %}"></script>
<script src="{% static 'assets/js/rev_slider/extensions/revolution.extension.carousel.min.js' %}"></script>
<script src="{% static 'assets/js/rev_slider/extensions/revolution.extension.kenburn.min.js' %}"></script>
<script src="{% static 'assets/js/rev_slider/extensions/revolution.extension.layeranimation.min.js' %}"></script>
<script src="{% static 'assets/js/rev_slider/extensions/revolution.extension.migration.min.js' %}"></script>
<script src="{% static 'assets/js/rev_slider/extensions/revolution.extension.navigation.min.js' %}"></script>
<script src="{% static 'assets/js/rev_slider/extensions/revolution.extension.parallax.min.js' %}"></script>
<script src="{% static 'assets/js/rev_slider/extensions/revolution.extension.slideanims.min.js' %}"></script>
<script src="{% static 'assets/js/rev_slider/extensions/revolution.extension.video.min.js' %}"></script>
{% endblock js %}