{% extends "home.html" %}
{% load static %}
{% block title %}Ship Design{% endblock title %}

{% block css %}
<!-- revolution slider css -->
<link rel="stylesheet" href="{% static 'assets/css/rev_slider/settings.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/rev_slider/layers.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/rev_slider/navigation.css' %}">
{% endblock css %}
<!-- page-content -->
{% block page_content %}
<!-- BANNER
        ================================================== -->
<div id="rev_slider_149_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-source="gallery" style="background-color:#2d3032;padding:0px;">
    <!-- START REVOLUTION SLIDER 5.4.1 fullscreen mode -->
    <div id="rev_slider_149_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.1">
        <ul>
            <!-- SLIDE  -->
            <li data-index="rs-407" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="2000" data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1000"
                data-fsslotamount="7" data-saveperformance="off" data-title="One" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

                <!-- overlay -->
                <div class="opacity-extra-medium bg-secondary z-index-1"></div>

                <!-- MAIN IMAGE -->
                <img src="{% static image_urls.0 %}" alt="" data-bgposition="center center" data-kenburns="on" data-duration="20000" data-ease="Linear.easeNone" data-scalestart="130" data-scaleend="100" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0"
                    data-bgparallax="6" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->
                <div id="rrzm_407" class="rev_row_zone rev_row_zone_middle" style="z-index: 6;">

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption  " id="slide-407-layer-14" data-x="['left','left','left','left']" data-hoffset="['100','100','100','100']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="none" data-height="none" data-whitespace="nowrap"
                        data-type="row" data-columnbreak="2" data-basealign="slide" data-responsive_offset="on" data-responsive="off" data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                        data-margintop="[-100,-100,-100,-75]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]" data-marginleft="[0,0,0,0]" data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[100,50,50,50]"
                        data-paddingbottom="[0,0,0,0]" data-paddingleft="[100,50,50,50]" style="z-index: 6; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1.00);">
                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption  " id="slide-407-layer-15" data-x="['left','left','left','left']" data-hoffset="['100','100','100','100']" data-y="['top','top','top','top']" data-voffset="['100','100','100','100']" data-width="none" data-height="none" data-whitespace="nowrap"
                            data-type="column" data-responsive_offset="on" data-responsive="off" data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-columnwidth="100%" data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]" data-marginleft="[0,0,0,0]" data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 7; width: 100%;">
                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption   tp-resizeme" id="slide-407-layer-1" data-x="['left','left','center','center']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['0','0','230','110']" data-fontsize="['110','90','100','70']" data-lineheight="['100','90','100','70']"
                                data-width="['none','none','100%','100%']" data-height="none" data-whitespace="['nowrap','nowrap','normal','normal']" data-type="text" data-basealign="slide" data-responsive_offset="on" data-frames='[{"delay":"+290","split":"chars","splitdelay":0.05,"speed":750,"frame":"0","from":"y:40px;sX:1.5;sY:1.5;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"sX:1;sY:1;opacity:0;fb:10px;","ease":"Power4.easeOut"}]'
                                data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[30,20,30,30]" data-marginleft="[0,0,0,0]" data-textAlign="['inherit','inherit','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,40,40]"
                                data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,40,40]" style="z-index: 8; white-space: nowrap; font-size: 110px; line-height: 100px; font-weight: 600; color: rgba(255, 255, 255, 1.00); display: inline-block;letter-spacing:-5px;">{{ banner_texts.0 }}</div>

                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption   tp-resizeme" id="slide-407-layer-2" data-x="['left','left','center','center']" data-hoffset="['0','50','0','0']" data-y="['top','top','top','top']" data-voffset="['0','430','460','290']" data-fontsize="['30','30','40','25']" data-lineheight="['40','40','50','30']"
                                data-width="['none','100%','100%','100%']" data-height="none" data-whitespace="normal" data-type="text" data-basealign="slide" data-responsive_offset="on" data-frames='[{"delay":"+890","split":"chars","splitdelay":0.03,"speed":300,"frame":"0","from":"sX:2;sY:2;opacity:0;fb:5px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;fb:10px;","ease":"Power4.easeOut"}]'
                                data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]" data-marginleft="[0,0,0,0]" data-textAlign="['inherit','inherit','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                                data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 9; white-space: normal; font-size: 30px; line-height: 40px; font-weight: 300; color: rgba(255, 255, 255, 1.00); display: block;">{{ banner_texts.0 }} </div>
                        </div>
                    </div>
                </div>

                <!-- LAYER NR. 5 -->
                <div class="tp-caption tp-shape tp-shapewrapper " id="slide-407-layer-16" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full"
                    data-height="full" data-whitespace="normal" data-type="shape" data-basealign="slide" data-responsive_offset="off" data-responsive="off" data-frames='[{"delay":10,"speed":2000,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                    data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5;background-color:rgba(0, 0, 0, 0.35);">
                </div>
            </li>

            <!-- SLIDE  -->
            <li data-index="rs-408" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="2000" data-rotate="0" data-saveperformance="off" data-title="Two"
                data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

                <!-- overlay -->
                <div class="opacity-extra-medium bg-secondary z-index-1"></div>

                <!-- MAIN IMAGE -->
                <img src="{% static image_urls.1 %}" alt="" data-bgposition="center center" data-kenburns="on" data-duration="20000" data-ease="Linear.easeNone" data-scalestart="130" data-scaleend="100" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0"
                    data-bgparallax="6" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->
                <div id="rrzm_408" class="rev_row_zone rev_row_zone_middle" style="z-index: 6;">

                    <!-- LAYER NR. 6 -->
                    <div class="tp-caption  " id="slide-408-layer-14" data-x="['left','left','left','left']" data-hoffset="['100','100','100','100']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="none" data-height="none" data-whitespace="nowrap"
                        data-type="row" data-columnbreak="2" data-basealign="slide" data-responsive_offset="on" data-responsive="off" data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                        data-margintop="[-100,-100,-100,-75]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]" data-marginleft="[0,0,0,0]" data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[100,50,40,40]"
                        data-paddingbottom="[0,0,0,0]" data-paddingleft="[100,50,40,40]" style="z-index: 6; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1.00);">
                        <!-- LAYER NR. 7 -->
                        <div class="tp-caption  " id="slide-408-layer-15" data-x="['left','left','left','left']" data-hoffset="['100','100','100','100']" data-y="['top','top','top','top']" data-voffset="['100','100','100','100']" data-width="none" data-height="none" data-whitespace="nowrap"
                            data-type="column" data-responsive_offset="on" data-responsive="off" data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-columnwidth="100%" data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]" data-marginleft="[0,0,0,0]" data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 7; width: 100%;">
                            <!-- LAYER NR. 8 -->
                            <div class="tp-caption   tp-resizeme" id="slide-408-layer-1" data-x="['left','left','center','center']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['0','0','230','110']" data-fontsize="['110','90','100','70']" data-lineheight="['100','90','100','70']"
                                data-width="['none','none','100%','100%']" data-height="none" data-whitespace="['nowrap','nowrap','normal','normal']" data-type="text" data-basealign="slide" data-responsive_offset="on" data-frames='[{"delay":"+290","split":"chars","splitdelay":0.05,"speed":750,"frame":"0","from":"y:40px;sX:1.5;sY:1.5;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"sX:1;sY:1;opacity:0;fb:10px;","ease":"Power4.easeOut"}]'
                                data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[30,20,30,30]" data-marginleft="[0,0,0,0]" data-textAlign="['inherit','inherit','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,40,40]"
                                data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,40,40]" style="z-index: 8; white-space: nowrap; font-size: 110px; line-height: 100px; font-weight: 600; color: rgba(255, 255, 255, 1.00); display: inline-block;letter-spacing:-5px;">{{ banner_texts.1 }}</div>

                            <!-- LAYER NR. 9 -->
                            <div class="tp-caption   tp-resizeme" id="slide-408-layer-2" data-x="['left','left','center','center']" data-hoffset="['0','50','0','0']" data-y="['top','top','top','top']" data-voffset="['0','430','460','290']" data-fontsize="['30','30','40','25']" data-lineheight="['40','40','50','30']"
                                data-width="['none','100%','100%','100%']" data-height="none" data-whitespace="normal" data-type="text" data-basealign="slide" data-responsive_offset="on" data-frames='[{"delay":"+890","split":"chars","splitdelay":0.03,"speed":300,"frame":"0","from":"sX:2;sY:2;opacity:0;fb:5px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;fb:10px;","ease":"Power4.easeOut"}]'
                                data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]" data-marginleft="[0,0,0,0]" data-textAlign="['inherit','inherit','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                                data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 9; white-space: normal; font-size: 30px; line-height: 40px; font-weight: 300; color: rgba(255, 255, 255, 1.00); display: block;">{{ banner_texts.1 }} </div>
                        </div>
                    </div>
                </div>

                <!-- LAYER NR. 10 -->
                <div class="tp-caption tp-shape tp-shapewrapper " id="slide-408-layer-16" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full"
                    data-height="full" data-whitespace="normal" data-type="shape" data-basealign="slide" data-responsive_offset="off" data-responsive="off" data-frames='[{"delay":10,"speed":2000,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                    data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5;background-color:rgba(0, 0, 0, 0.35);">
                </div>
            </li>

            <!-- SLIDE  -->
            <li data-index="rs-409" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="2000" data-rotate="0" data-saveperformance="off" data-title="Three"
                data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

                <!-- overlay -->
                <div class="opacity-extra-medium bg-secondary z-index-1"></div>

                <!-- MAIN IMAGE -->
                <img src="{% static image_urls.2 %}" alt="" data-bgposition="center center" data-kenburns="on" data-duration="20000" data-ease="Linear.easeNone" data-scalestart="130" data-scaleend="100" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0"
                    data-bgparallax="6" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->
                <div id="rrzm_409" class="rev_row_zone rev_row_zone_middle" style="z-index: 6;">

                    <!-- LAYER NR. 11 -->
                    <div class="tp-caption  " id="slide-409-layer-14" data-x="['left','left','left','left']" data-hoffset="['100','100','100','100']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="none" data-height="none" data-whitespace="nowrap"
                        data-type="row" data-columnbreak="2" data-basealign="slide" data-responsive_offset="on" data-responsive="off" data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                        data-margintop="[-100,-100,-100,-75]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]" data-marginleft="[0,0,0,0]" data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[100,50,40,40]"
                        data-paddingbottom="[0,0,0,0]" data-paddingleft="[100,50,40,40]" style="z-index: 6; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1.00);">
                        <!-- LAYER NR. 12 -->
                        <div class="tp-caption  " id="slide-409-layer-15" data-x="['left','left','left','left']" data-hoffset="['100','100','100','100']" data-y="['top','top','top','top']" data-voffset="['100','100','100','100']" data-width="none" data-height="none" data-whitespace="nowrap"
                            data-type="column" data-responsive_offset="on" data-responsive="off" data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-columnwidth="100%" data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]" data-marginleft="[0,0,0,0]" data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 7; width: 100%;">
                            <!-- LAYER NR. 13 -->
                            <div class="tp-caption   tp-resizeme" id="slide-409-layer-1" data-x="['left','left','center','center']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['0','0','230','110']" data-fontsize="['110','90','100','70']" data-lineheight="['100','90','100','70']"
                                data-width="['none','none','100%','100%']" data-height="none" data-whitespace="['nowrap','nowrap','normal','normal']" data-type="text" data-basealign="slide" data-responsive_offset="on" data-frames='[{"delay":"+290","split":"chars","splitdelay":0.05,"speed":750,"frame":"0","from":"y:40px;sX:1.5;sY:1.5;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"sX:1;sY:1;opacity:0;fb:10px;","ease":"Power4.easeOut"}]'
                                data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[30,20,30,30]" data-marginleft="[0,0,0,0]" data-textAlign="['inherit','inherit','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,40,40]"
                                data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,40,40]" style="z-index: 8; white-space: nowrap; font-size: 110px; line-height: 100px; font-weight: 600; color: rgba(255, 255, 255, 1.00); display: inline-block;letter-spacing:-5px;">{{ banner_texts.2 }} </div>

                            <!-- LAYER NR. 14 -->
                            <div class="tp-caption   tp-resizeme" id="slide-409-layer-2" data-x="['left','left','center','center']" data-hoffset="['0','50','0','0']" data-y="['top','top','top','top']" data-voffset="['0','430','460','290']" data-fontsize="['30','30','40','25']" data-lineheight="['40','40','50','30']"
                                data-width="['none','100%','100%','100%']" data-height="none" data-whitespace="normal" data-type="text" data-basealign="slide" data-responsive_offset="on" data-frames='[{"delay":"+890","split":"chars","splitdelay":0.03,"speed":300,"frame":"0","from":"sX:2;sY:2;opacity:0;fb:5px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;fb:10px;","ease":"Power4.easeOut"}]'
                                data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]" data-marginleft="[0,0,0,0]" data-textAlign="['inherit','inherit','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                                data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 9; white-space: normal; font-size: 30px; line-height: 40px; font-weight: 300; color: rgba(255, 255, 255, 1.00); display: block;">{{ banner_texts.2 }} </div>
                        </div>
                    </div>
                </div>

                <!-- LAYER NR. 15 -->
                <div class="tp-caption tp-shape tp-shapewrapper " id="slide-409-layer-16" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full"
                    data-height="full" data-whitespace="normal" data-type="shape" data-basealign="slide" data-responsive_offset="off" data-responsive="off" data-frames='[{"delay":10,"speed":2000,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                    data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5;background-color:rgba(0, 0, 0, 0.35);">
                </div>
            </li>
        </ul>
        <div style="" class="tp-static-layers">

            <!-- LAYER NR. 16 -->
            <a class="tp-caption rev-btn  tp-static-layer butn white xs-wide" href="#" id="slider-149-layer-18" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['bottom','bottom','bottom','bottom']" data-voffset="['175','100','140','90']"
                data-width="none" data-height="none" data-whitespace="nowrap" data-type="button" data-actions='' data-basealign="slide" data-responsive_offset="off" data-responsive="off" data-startslide="0" data-endslide="2" data-frames='[{"delay":1600,"speed":1000,"frame":"0","from":"y:20px;sX:1.5;sY:1.5;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;fb:10px;","ease":"Power4.easeOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;fb:0;"}]'
                data-textAlign="['inherit','inherit','inherit','inherit']" style="z-index: 9; white-space: nowrap; outline:none;cursor:pointer;">Scroll Down</a>
        </div>
        <div class="tp-bannertimer" style="height: 10px; background-color: rgba(255, 255, 255, 0.25);"></div>
    </div>
</div>

<!-- GRID
================================================== -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>Introduction</h4>
                <p style="text-align: justify;" class="mb-0">Bay-Tech has developed strengths in conceptual, basic, and detailed ship design. Our focus is to help achieve the right balance in terms of design and operational capability for the vessel.</p>
            </div>
        </div>
    </div>

    <!--one half-->
    <div class="container">
        <div class="row">
            <div class="col-md-6 mt-1-9 wow fadeInUp" data-wow-delay="500ms">
                <h4>Ship Design & Engineering</h4>
                <p style="text-align: justify;">Bay-Tech has developed strengths in conceptual, basic and detailed ship design. Our focus is to help achieve the right balance in terms of design and operational capability for the vessel. We have also developed the necessary skills for design in all kinds of cargo ships, passenger ship, tug boat, patrol boat, self-unloading stone carrier and many more. We possess in-house competence for core activities such as:</p>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">Conceptual design.</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">Basic / initial design.</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">Production / detailed design</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">Design modification.</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">Vessel hull modeling.</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">Vessel structural analysis.</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">Design software profile.</span><br>
            </div>
            <div class="col-md-6 mt-1-9 wow fadeInUp" data-wow-delay="200ms">
                <h4>Image Slider</h4>
                
            </div>
            <!-- ROW 2 START -->
            <div class="col-md-6 mt-1-9 wow fadeInUp" data-wow-delay="200ms">
                <h4>Image Slider</h4>
                
            </div>
            <div class="col-md-6 mt-1-9 wow fadeInUp" data-wow-delay="500ms">
                <h4>Shipyard Facility</h4>
                <p style="text-align: justify;">Bay-Tech shipyard is designed for the construction, repair, and maintenance of ships.</p>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">Total Area: 20,000 M2</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">Open Production Area: 17,000 M2</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">Labor dormitory for 100 workers</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">Administrative Offices</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">Office for Owner & Class.</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">Central store / Material storage.</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">Mechanical Workshop.</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">Security Department.</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">Canteen.</span><br>
            </div>
            
            <!-- row 3 start here -->
            <div class="col-md-6 mt-1-9 wow fadeInUp" data-wow-delay="500ms">
                <h4>Naval Architectural Service</h4>
                <p style="text-align: justify;">Bay-Tech provides various naval architectural services:</p>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">Scantling computations.</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">Steel renewal computations</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">Rule based calculations</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">Damage stability computations and probabilistic damage stability analysis</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">Stability booklets – satisfies imo / marpol / any other statutory stability criteria</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">Sea fastening calculations.</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">Loadline calculations.</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">Deadweight survey and inclining experiment.</span><br>
            </div>
            <div class="col-md-6 mt-1-9 wow fadeInUp" data-wow-delay="200ms">
                <h4>Image Slider</h4>
                
            </div>
            <!-- Row 4 Start here -->
            <div class="col-md-6 mt-1-9 wow fadeInUp" data-wow-delay="200ms">
                <h4>Image Slider</h4>
                
            </div>
            <div class="col-md-6 mt-1-9 wow fadeInUp" data-wow-delay="500ms">
                <h4>New Building Project Management</h4>
                <p style="text-align: justify;">Bay-Tech ship solution zone has built up a reputation for excellence in new building project management. Our new building projects are manned by a well-rounded team comprising of marine engineers, naval architects, production engineers, electrical engineers with both ship building and operational experience for various vessel types thus ensuring that vessels are built not only to suit commercial requirements but also to ensure operational practicality. We take pride in our personnel, who are multi-skilled, have high integrity and have extensive experience at many shipyards and for various vessel types.</p>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">It is quick and relatively uncomplicated.</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">It gives immediate indications of defects.</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">It shows surface and near surface defects, and these are the most serious ones as they concentrate stresses.</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">The method can be adapted for site or workshop use.</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">It is inexpensive compared to radiography</span><br>
            </div>
            <!-- Row 5 Start here -->
            <div class="col-md-6 mt-1-9 wow fadeInUp" data-wow-delay="500ms">
                <h4>Shipyard Evaluation and Selection</h4>
                <p style="text-align: justify;">Our new building projects are manned by a well-rounded team comprising of marine engineers, naval architects, production engineers, electrical engineers with both ship building and operational experience for various vessel types thus ensuring that vessels are built not only to suit commercial requirements but also to ensure operational practicality. We take pride in our personnel, who are multi skilled, have high integrity and extensive experience at many shipyards and for various vessel types.</p>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">As potential builder of the vessel.</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">Projections during anticipated construction period for yard’s other activities.</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">Design and construction technology.</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">Capability to design and production engineer the desired type of vessels.</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">Capability to manufacture / construct to owner’s design requirements.</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">Financial strength and sustainability.</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">Organization and management</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">Subcontracted works and quality of the same</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">Safety and quality culture and practices.</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">Pictorials</span><br>
            </div>
            <div class="col-md-6 mt-1-9 wow fadeInUp" data-wow-delay="200ms">
                <h4>Image Slider</h4>
                
            </div>

            <!-- Row 6 Start here -->
            <div class="col-md-6 mt-1-9 wow fadeInUp" data-wow-delay="200ms">
                <h4>Image Slider</h4>
                
            </div>
            <div class="col-md-6 mt-1-9 wow fadeInUp" data-wow-delay="500ms">
                <h4>Ship Building Contract Review (Technical)</h4>
                <p style="text-align: justify;">An extensive review of all technical clauses of the contract is carried out with focus to mitigate all likely contentious issues and thus protect the client’s interest. These include, but are not limited to, the following clauses:</p>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">Definitions.</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">The vessel, description and class.</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">Approval of plans and drawings and inspection during construction.</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">Specification and general arrangement drawing.</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">Maker's list.</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">Modifications and changes.</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">Test and trials.</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">Delivery date and delivery.</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">Delays and extension of time for delivery (force majeure).</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">Warranty of quality.</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">Default provisions.</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">Buyer's supplies.</span><br>
                <i class="fa fa-asterisk text-success"></i><span class="ps-3">Notices.</span><br>
            </div>
        </div>
        <!-- CLIENTS -->
        {% include "components/approval-authority.html" %}
    </div>
</section>

{% endblock page_content %}
<!-- page-content -->

{% block js %}
<!-- revolution slider js files start -->
<script src="{% static 'assets/js/rev_slider/jquery.themepunch.tools.min.js' %}"></script>
<script src="{% static 'assets/js/rev_slider/jquery.themepunch.revolution.min.js' %}"></script>
<script src="{% static 'assets/js/rev_slider/extensions/revolution.extension.actions.min.js' %}"></script>
<script src="{% static 'assets/js/rev_slider/extensions/revolution.extension.carousel.min.js' %}"></script>
<script src="{% static 'assets/js/rev_slider/extensions/revolution.extension.kenburn.min.js' %}"></script>
<script src="{% static 'assets/js/rev_slider/extensions/revolution.extension.layeranimation.min.js' %}"></script>
<script src="{% static 'assets/js/rev_slider/extensions/revolution.extension.migration.min.js' %}"></script>
<script src="{% static 'assets/js/rev_slider/extensions/revolution.extension.navigation.min.js' %}"></script>
<script src="{% static 'assets/js/rev_slider/extensions/revolution.extension.parallax.min.js' %}"></script>
<script src="{% static 'assets/js/rev_slider/extensions/revolution.extension.slideanims.min.js' %}"></script>
<script src="{% static 'assets/js/rev_slider/extensions/revolution.extension.video.min.js' %}"></script>
{% endblock js %}