{% extends "home.html" %}
{% load static %}
{% block title %}Team Members{% endblock title %}


<!-- page-content -->
{% block page_content %}
	<!-- ALL TEAMS -->
	<section class="bg-light">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-lg-4 mt-1-9">
					
				</div>
				<div class="col-sm-6 col-lg-4 mt-1-9">
					<div class="team-members">
						<div class="team-members-img"><img alt="..." src="{% static 'assets/img/team/owner.jpg' %}">
						</div>
						<div class="team-members-text">
							<h4><a href="team_details.html">Engr. Md. Tazul Islam</a></h4><span>Owner and Chairman Bay-Tech Group</span>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-lg-4 mt-1-9">
					
				</div>
			</div>
			
			<!-- row 2 start -->
			<div class="row mt-n1-9">
				{% for item in items %}
				<div class="col-sm-6 col-lg-3 mt-1-9">
					<div class="team-members">
						<div class="team-members-img"><img alt="..." src="/media/{{ item.photo }}"></div>
						<div class="team-members-text">
							<h4><a href="{% url 'team_member_details' item.pk %}">{{ item.name }}</a></h4><span>{{ item.designation }}</span>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
			<!-- PAGINATION START FROM HERE -->
			<small>Total {{ query_count|length }} Members</small>
			{% include 'components/pagination_copy.html' with items=page_obj %}
		</div>
		
		
	</section>
{% endblock page_content %}
<!-- page-content -->