{% extends "home.html" %}
{% load static %}
{% block title %}Members Details{% endblock title %}


<!-- page-content -->
{% block page_content %}
	<!-- TEAM SINGLE -->
        <section>
            <div class="container">
                <div class=team-single>
                    <div class="row">
                        <div class="col-md-4 mb-1-9 mb-md-6">
                            <div class=team-single-img><img alt="..." src="/media/{{ item.photo }}"></div>
                        </div>
                        <div class="col-md-8 mb-1-9 mb-md-6">
                            <div class="team-single-text"><span class="text-uppercase small font-weight-800 text-primary">{{ item.designation }}</span>
                                <div class="section-heading half left">
                                    <h4 class="h1 lh-1">{{ item.name }}</h4>
                                </div>
                                <p>{{ item.short_description }}</p>
                                <div class="contact-info-section p-0 border-0">
                                    <ul class="list-style-1 mb-0 list-unstyled">
                                        <li>
                                            <i class="fas fa-globe text-center"></i> <strong>Phone:</strong> {{ item.phone_no }}
                                        </li>
                                        <li>
                                            <i class="fas fa-envelope text-center"></i> <strong>Email:</strong> <a href="{{ item.email_address }}">{{ item.email_address }}</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="mt-4 team-single-icons">
                                    <ul class="mb-0 ps-0">
                                        <li><a href="{{ item.facebook }}"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="{{ item.twitter }}"><i class="fa-brands fa-x-twitter"></i></a></li>
                                        <li><a href="{{ item.linkedin }}"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li><a href="{{ item.instagram }}"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock page_content %}
<!-- page-content -->