{% extends "home.html" %}
{% load static %}
{% block title %}Team Members{% endblock title %}


<!-- page-content -->
{% block page_content %}
	<!-- ALL TEAMS -->
	<section class="bg-light">
		<div class="container">
			<div class="row mt-n1-9">
				<div class="col-sm-6 col-lg-4 mt-1-9">
					
				</div>
				<div class="col-sm-6 col-lg-4 mt-1-9">
					<div class="team-members">
						<div class="team-members-img"><img alt="..." src="{% static 'assets/img/team/team-02.jpg' %}">
						</div>
						<div class="team-members-text">
							<h4><a href="team_details.html">Engr. Md. Tazul Islam</a></h4><span>Owner</span>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-lg-4 mt-1-9">
					
				</div>
			</div>
			
			<!-- row 2 start -->
			<div class="row mt-n1-9">
				<div class="col-sm-6 col-lg-3 mt-1-9">
					<div class="team-members">
						<div class="team-members-img"><img alt="..." src="{% static 'assets/img/team/team-01.jpg' %}"></div>
						<div class="team-members-text">
							<h4><a href="team_details.html">Jamara Karle</a></h4><span>Founder</span>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-lg-3 mt-1-9">
					<div class="team-members">
						<div class="team-members-img"><img alt="..." src="{% static 'assets/img/team/team-02.jpg' %}">
						</div>
						<div class="team-members-text">
							<h4><a href="team_details.html">Keir Prestonly</a></h4><span>Co-Founder</span>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-lg-3 mt-1-9">
					<div class="team-members">
						<div class="team-members-img"><img alt="..." src="{% static 'assets/img/team/team-03.jpg' %}"></div>
						<div class="team-members-text">
							<h4><a href="team_details.html">Finley Walkeror</a></h4><span>Developer</span>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-lg-3 mt-1-9">
					<div class="team-members">
						<div class="team-members-img"><img alt="..." src="{% static 'assets/img/team/team-04.jpg' %}"></div>
						<div class="team-members-text">
							<h4><a href="team_details.html">Lenethi  Miloler</a></h4><span>Designer</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock page_content %}
<!-- page-content -->