{% load static %}
<link rel="shortcut icon" type="image/x-icon" href=" {% static 'img/favicon.ico' %} "/>
<link rel="stylesheet" href="{% static 'style.css' %}"/> 
<link rel="stylesheet" href="{% static 'custom.css' %}"/> 
<link rel="stylesheet" href="{% static 'bootstrap.min.css' %}"/> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Stick No Bills|Sofia|Roboto|Sevillana|Tangerine|Lobster&display=swap:wght@700"/>
{% block css %}{% endblock css %}