body{
    overflow-x:hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    min-height: 100vh; margin:0; display:flex; flex-direction:column;
  }
  body::-webkit-scrollbar {
    display: none;
  }
  .tangerine{
      font-family:Tangerine;
  }
  .ui-autocomplete {
    max-height: 200px;
    overflow: hidden;
    background: #1C203C;
    color: white;}
::-webkit-calendar-picker-indicator {
    filter: invert(1);
    }
.dark-mode .select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #202440 !important;
    background: #ffffff;
}