<!doctype html>
{% load static %}
<html lang="en" dir="ltr">
    {% include "components/header.html" %}
	<body class="app sidebar-mini">
		<div id="global-loader">
			<img src="{% static 'assets/images/loader.svg' %}" class="loader-img" alt="Loader">
		</div>
		<div class="page">
			<div class="page-main">
                {% include "components/app_sidebar.html" %}
                {% include "components/app_header.html" %}
                {% include "components/app_body.html" %}
            </div>
            {% include "components/side_bar.html" %}
            {% include "components/footer.html" %}
		</div>
		<a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>
		{% include "components/js.html" %}
	</body>
</html>