<!doctype html>
{% load static %}
<html lang="en">
	<head>
	{% block head %}
		{% block meta %}
		<!-- metas -->
		<meta charset="utf-8">
		<meta name="author" content="Chitrakoot Web" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="keywords" content="Multipurpose Responsive Template + Admin" />
		<meta name="description" content="Crizal - Multipurpose Responsive Template + Admin" />
		{% endblock meta %}

		<!-- FAVICON -->
		<link rel="shortcut icon" href="{% static 'assets/img/logos/favicon.png' %}">
		<link rel="apple-touch-icon" href="{% static 'assets/img/logos/apple-touch-icon-57x57.png' %}">
		<link rel="apple-touch-icon" sizes="72x72" href="{% static 'assets/img/logos/apple-touch-icon-72x72.png' %}">
		<link rel="apple-touch-icon" sizes="114x114" href="{% static 'assets/img/logos/apple-touch-icon-114x114.png' %}">
		<!-- TITLE -->
		<title>Bay-tech | {% block title %}Home{% endblock title %}</title>
		{% block stylesheets %}
			<!-- CSS -->
			{% include "components/css.html" %}
		{% endblock stylesheets %}
		{% block css %}{% endblock css %}
	{% endblock head %}
	</head>

	<body>
	{% block body %}
		<!-- PAGE LOADING -->
    	<div id="preloader"></div>
		

		{% block main_wrapper %}
		<!-- MAIN WRAPPER -->
		<div class="main-wrapper">
			<!-- HEADER -->
			{% include "components/header.html" %}
			
			<!-- PAGE-CONTENT -->
			{% block page_content %}
				
				<!-- BANNER -->
				{% include "components/banner.html" %}

				<!-- ABOUT -->
				{% include "components/about.html" %}

				<!-- COUNTER -->
				{% include "components/counter.html" %}

				<!-- SERVICE -->
				{% include "components/service.html" %}

				<!-- TEAM -->
				{% include "components/team.html" %}

				<!-- PORTFOLIO -->
				{% include "components/portfolio.html" %}

				<!-- EVENTS -->
				{% include "components/blog.html" %}
				
				<!-- CLIENTS -->
				{% include "components/clients.html" %}
				
				<!-- TESTIMONIAL-->
				{% include "components/feedback.html" %}

				<!-- FAQ -->
				<!-- {% include "components/faq.html" %} -->

				<!-- EXTRA SECTION STICKY BG -->
				{% include "components/extra_section.html" %}

				<!-- CONTACT US -->
				{% include "components/contact_us.html" %}

				<!-- GOOGLE MAP -->
				{% include "components/maps.html" %}
			
			{% endblock page_content %}
			<!-- END PAGE CONTENT -->

			{% block footer %}
				<!-- FOOTER -->
				{% include "components/footer.html" %}
			{% endblock footer %}
		</div>
		{% endblock main_wrapper %}
		
		<!-- SCROLL TO TOP -->
		<div class="scroll-top-percentage"><span id="scroll-value"></span></div>
		
		{% block javascripts %}
		<!-- JAVA SCRIPT -->
			{% include "components/js.html" %}
		{% endblock javascripts %}
		{% block js %}{% endblock js %}
	{% endblock body %}
	</body>

</html>