{% load static %}
<!-- PAGE TITLE-->
<section class="page-title-section bg-img cover-background secondary-overlay" data-overlay-dark="9">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Our Business</h1>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="container">
        <div class="row mt-n1-9">
            <div class="col-md-6 col-lg-4 mt-1-9">
                <div class="service-box">
                    <div class="img-holder"><img alt="..." src="{% static 'assets/img/content/services/service-1b.jpg' %}"></div>
                    <div class="clearfix service-inner-box">
                        <div class="service-icon-box"><i class="icon-presentation"></i></div>
                        <div class="service-content-box">
                            <h3 class="h5"><a href="services-2.html#!">Business Solutions</a></h3>
                            <p>We provide best and solid solution for your impressive international business consultant.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mt-1-9">
                <div class="service-box">
                    <div class="img-holder"><img alt="..." src="{% static 'assets/img/content/services/service-1b.jpg' %}"></div>
                    <div class="clearfix service-inner-box">
                        <div class="service-icon-box"><i class="icon-presentation"></i></div>
                        <div class="service-content-box">
                            <h3 class="h5"><a href="services-2.html#!">Business Solutions</a></h3>
                            <p>We provide best and solid solution for your impressive international business consultant.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mt-1-9">
                <div class="service-box">
                    <div class="img-holder"><img alt="..." src="{% static 'assets/img/content/services/service-1b.jpg' %}"></div>
                    <div class="clearfix service-inner-box">
                        <div class="service-icon-box"><i class="icon-presentation"></i></div>
                        <div class="service-content-box">
                            <h3 class="h5"><a href="services-2.html#!">Business Solutions</a></h3>
                            <p>We provide best and solid solution for your impressive international business consultant.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mt-1-9">
                <div class="service-box">
                    <div class="img-holder"><img alt="..." src="{% static 'assets/img/content/services/service-1b.jpg' %}"></div>
                    <div class="clearfix service-inner-box">
                        <div class="service-icon-box"><i class="icon-presentation"></i></div>
                        <div class="service-content-box">
                            <h3 class="h5"><a href="services-2.html#!">Business Solutions</a></h3>
                            <p>We provide best and solid solution for your impressive international business consultant.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mt-1-9">
                <div class="service-box">
                    <div class="img-holder"><img alt="..." src="{% static 'assets/img/content/services/service-1b.jpg' %}"></div>
                    <div class="clearfix service-inner-box">
                        <div class="service-icon-box"><i class="icon-presentation"></i></div>
                        <div class="service-content-box">
                            <h3 class="h5"><a href="services-2.html#!">Business Solutions</a></h3>
                            <p>We provide best and solid solution for your impressive international business consultant.</p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

    </div>
</section>
