{% load static %}
<!-- BANNER -->
<section class="jarallax py-6 py-md-16 py-lg-20 py-xxl-24 video-banner secondary-overlay" data-overlay-dark="8" style="background-image: url(img/slider/video-bg-img.jpg);" data-jarallax data-speed="0.8" data-video-src="https://www.youtube.com/watch?v=H52uNAP3ERg">
    <div class="container pt-1-9 pt-sm-6 pt-md-0 mt-n1-9">
        <div class="row align-items-center position-relative z-index-1 justify-content-center">
            <div class="col-md-11 col-xl-9 col-xxl-8 text-center py-12">
                <div class="title-style14 mb-4 wow fadeInUp" data-wow-delay="200ms">
                    <div class="heading-animation animation-style1">
                        <h1 class="mb-1-9 display-2 text-white font-weight-700 lh-1 wow fadeInUp" data-wow-delay="275ms">Cooperating to promote <span class="title-sm">business growth</span></h1>
                    </div>
                    <a href="about.html" class="butn-style9 white wow fadeInUp" data-wow-delay="350ms"><span>Let's Work Together</span></a>
                </div>
            </div>
        </div>
    </div>
</section>