{% load static %}

<!-- BLOG -->
<section class="service-style01 mx-xl-4 rounded-lg bg-light">
    <div class="container">
        <div class="row position-relative z-index-9 g-xl-5 mt-n5"></div>
            <div class="col-lg-12 mt-5">
                <div class="row align-items-center mt-n4">
                    <div class="col-lg-7 col-xl-6 mt-4">
                        <div class="title-style14">
                            <h2 class="mb-0 display-5 font-weight-800 lh-1">
                                Visit Our Events<span class="title-sm">Latest News</span>
                            </h2>
                        </div>
                    </div>
                    <div class="col-lg-5 col-xl-6 mt-4">
                        <div class="text-start text-lg-end">
                            <a href="services.html" class="butn-style9"><span class="text-btn">All News</span></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-n1-9 pt-5">
                <div class="blog-carousel owl-carousel owl-theme">
                    <article>
                        <div class="blog-post blog-style9 position-relative mb-2-1 overflow-hidden">
                            <div class="blog-catrgories">
                                <a href="blog-grid-1.html#!">Finance</a>
                                <a href="blog-grid-1.html#!">Business</a>
                            </div>
                            <img src="{% static 'assets/img/blog/blog-30.jpg' %}" alt="...">
                        </div>
                        <div class="blog-content">
                            <div class="mb-4">
                                <div class="font-weight-500 text-uppercase letter-spacing-3 display-31 d-block pb-1">January 17, <span class="current-year"></span></div>
                                <h3 class="mb-0 display-26 font-weight-600"><a href="blog-post.html">Powerful tool for your customer</a></h3>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="me-2"><img src="{% static 'assets/img/avatar/avatar-23.jpg' %}" alt="..." class="w-auto rounded-circle"></span>
                                <div>
                                    <span class="display-32 d-block">Post By </span>
                                    <a href="blog-grid-1.html#!" class="font-weight-700 display-29">Admin</a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="blog-post blog-style9 position-relative mb-2-1 overflow-hidden">
                            <div class="blog-catrgories">
                                <a href="blog-grid-1.html#!">Business</a>
                                <a href="blog-grid-1.html#!">Project</a>
                            </div>
                            <img src="{% static 'assets/img/blog/blog-31.jpg' %}" alt="...">
                        </div>
                        <div class="blog-content">
                            <div class="mb-4">
                                <div class="font-weight-500 text-uppercase letter-spacing-3 display-31 d-block pb-1">January 13, <span class="current-year"></span></div>
                                <h3 class="mb-0 display-26 font-weight-600"><a href="blog-post.html">Growth your business strategy</a></h3>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="me-2"><img src="{% static 'assets/img/avatar/avatar-24.jpg' %}" alt="..." class="w-auto rounded-circle"></span>
                                <div>
                                    <span class="display-32 d-block">Post By </span>
                                    <a href="blog-grid-1.html#!" class="font-weight-700 display-29">Admin</a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="blog-post blog-style9 position-relative mb-2-1 overflow-hidden">
                            <div class="blog-catrgories">
                                <a href="blog-grid-1.html#!">Trading</a>
                                <a href="blog-grid-1.html#!">Business</a>
                            </div>
                            <img src="{% static 'assets/img/blog/blog-32.jpg' %}" alt="...">
                        </div>
                        <div class="blog-content">
                            <div class="mb-4">
                                <div class="font-weight-500 text-uppercase letter-spacing-3 display-31 d-block pb-1">January 11, <span class="current-year"></span></div>
                                <h3 class="mb-0 display-25 font-weight-600"><a href="blog-post.html">Digital service marketing agency</a></h3>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="me-2"><img src="{% static 'assets/img/avatar/avatar-25.jpg' %}" alt="..." class="w-auto rounded-circle"></span>
                                <div>
                                    <span class="display-32 d-block">Post By </span>
                                    <a href="blog-grid-1.html#!" class="font-weight-700 display-29">Admin</a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="blog-post blog-style9 position-relative mb-2-1 overflow-hidden">
                            <div class="blog-catrgories">
                                <a href="blog-grid-1.html#!">Innovation</a>
                            </div>
                            <img src="{% static 'assets/img/blog/blog-33.jpg' %}" alt="...">
                        </div>
                        <div class="blog-content">
                            <div class="mb-4">
                                <div class="font-weight-500 text-uppercase letter-spacing-3 display-31 d-block pb-1">January 08, <span class="current-year"></span></div>
                                <h3 class="mb-0 display-25 font-weight-600"><a href="blog-post.html">Business adviser analyzing financial</a></h3>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="me-2"><img src="{% static 'assets/img/avatar/avatar-26.jpg' %}" alt="..." class="w-auto rounded-circle"></span>
                                <div>
                                    <span class="display-32 d-block">Post By </span>
                                    <a href="blog-grid-1.html#!" class="font-weight-700 display-29">Admin</a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="blog-post blog-style9 position-relative mb-2-1 overflow-hidden">
                            <div class="blog-catrgories">
                                <a href="blog-grid-1.html#!">Leadership</a>
                                <a href="blog-grid-1.html#!">design</a>
                            </div>
                            <img src="{% static 'assets/img/blog/blog-34.jpg' %}" alt="...">
                        </div>
                        <div class="blog-content">
                            <div class="mb-4">
                                <a href="blog-grid-1.html#!" class="font-weight-500 text-uppercase letter-spacing-3 display-31 d-block pb-1">January 05, <span class="current-year"></span></a>
                                <h3 class="mb-0 display-25 font-weight-600"><a href="blog-post.html">The progress work of the company</a></h3>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="me-2"><img src="{% static 'assets/img/avatar/avatar-27.jpg' %}" alt="..." class="w-auto rounded-circle"></span>
                                <div>
                                    <span class="display-32 d-block">Post By </span>
                                    <a href="blog-grid-1.html#!" class="font-weight-700 display-29">Admin</a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="blog-post blog-style9 position-relative mb-2-1 overflow-hidden">
                            <div class="blog-catrgories">
                                <a href="blog-grid-1.html#!">Marketing</a>
                                <a href="blog-grid-1.html#!">interior</a>
                            </div>
                            <img src="{% static 'assets/img/blog/blog-35.jpg' %}" alt="...">
                        </div>
                        <div class="blog-content">
                            <div class="mb-4">
                                <a href="blog-grid-1.html#!" class="font-weight-500 text-uppercase letter-spacing-3 display-31 d-block pb-1">January 01, <span class="current-year"></span></a>
                                <h3 class="mb-0 display-25 font-weight-600"><a href="blog-post.html">The business woman hard work</a></h3>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="me-2"><img src="{% static 'assets/img/avatar/avatar-28.jpg' %}" alt="..." class="w-auto rounded-circle"></span>
                                <div>
                                    <span class="display-32 d-block">Post By </span>
                                    <a href="blog-grid-1.html#!" class="font-weight-700 display-29">Admin</a>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>