{% load static %}

<!-- CLIENTS -->
<div class="section-clients bg-grey">
    <div class="container">
        <div class="title-style14 mb-1-9 text-center">
            <h2 class="mb-0 display-5 font-weight-800 w-md-70 w-lg-55 mx-auto lh-1"><span class="title-sm">Our Valuable Clients</span></h2>
        </div>
    </div>
    <div class="container">
        <div class="owl-carousel owl-theme clients" id="clients">
            <div class="item"><img alt="partner-image" src="{% static 'assets/img/partners/akc.jpeg' %}" ></div>
            <div class="item"><img alt="partner-image" src="{% static 'assets/img/partners/bashundhara.png' %}" ></div>
            <div class="item"><img alt="partner-image" src="{% static 'assets/img/partners/biwta.jpeg' %}" ></div>
            <div class="item"><img alt="partner-image" src="{% static 'assets/img/partners/doren.jpg' %}" ></div>
            <div class="item"><img alt="partner-image" src="{% static 'assets/img/partners/mongla.png' %}" ></div>
            <div class="item"><img alt="partner-image" src="{% static 'assets/img/partners/omera.png' %}" ></div>
            <div class="item"><img alt="partner-image" src="{% static 'assets/img/partners/rancon.png' %}" ></div>
            <div class="item"><img alt="partner-image" src="{% static 'assets/img/partners/toggi.png' %}" ></div>
        </div>
    </div>
</div>