{% load static %}
<section>
    <div class="container">
        <div class="row align-items-center mt-n2-6">
            <div class="col-lg-7 mt-2-6">
                <div class="pe-lg-6 pe-xxl-10">
                    <div class="title-style14 mb-1-9 wow fadeInUp" data-wow-delay="200ms">
                        <h2 class="mb-0 display-5 font-weight-800 lh-1">Needs help? Let’s get <span class="title-sm">in touch</span></h2>
                    </div>
                    <p class="display-27 opacity9 mb-1-9 mb-md-2-9 wow fadeInUp" data-wow-delay="350ms">Reach out to us for support, collaborations, or to learn more about our profession.</p>
                    <div class="row mt-n2-6">
                        <div class="col-sm-6 mt-2-6 wow fadeInUp" data-wow-delay="200ms">
                            <div>
                                <h5>Main Phone Number</h5>
                                <div><a href="tel:+44123 456 789">(+44) 123 456 789</a></div>
                            </div>
                        </div>
                        <div class="col-sm-6 mt-2-6 wow fadeInUp" data-wow-delay="275ms">
                            <div>
                                <h5>Training & Certification</h5>
                                <div>Please visit the training section</div>
                            </div>
                        </div>
                        <div class="col-sm-6 mt-2-6 wow fadeInUp" data-wow-delay="350ms">
                            <div>
                                <h5>For Support Related</h5>
                                <div>Please visit the <a href="home-corporate-02.html#">our faq's</a></div>
                            </div>
                        </div>
                        <div class="col-sm-6 mt-2-6 wow fadeInUp" data-wow-delay="425ms">
                            <div>
                                <h5>For Website Related</h5>
                                <div>www.example.com</div>
                            </div>
                        </div>
                        <div class="col-sm-6 mt-2-6 wow fadeInUp" data-wow-delay="500ms">
                            <div>
                                <h5>Email Address</h5>
                                <div><a href="home-corporate-02.html#">info@example.com</a></div>
                            </div>
                        </div>
                        <div class="col-sm-6 mt-2-6 wow fadeInUp" data-wow-delay="575ms">
                            <div>
                                <h5>Find our Locations</h5>
                                <div><a href="home-corporate-02.html#">Search on the map</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 mt-2-6 wow fadeInUp" data-wow-delay="200ms">
                <div class="shadow p-1-6 p-sm-2-5 border-radius-5 bg-white position-relative z-index-9">
                    <h2 class="h4 mb-1-6">How can we help?</h2>
                    <p class="mb-1-9">Let us know who you are and what you're looking for below, and we'll get back to you within 24 hours.</p>
                    <form class="quform" action="https://crizal.websitelayout.net/quform/contact.php" method="post" enctype="multipart/form-data" onclick="">
                        <div class="quform-elements">
                            <div class="row">

                                <!-- Begin Text input element -->
                                <div class="col-md-12">
                                    <div class="quform-element form-group">
                                        <div class="quform-input">
                                            <input class="form-control" id="name" type="text" name="name" placeholder="Your name here" />
                                        </div>
                                    </div>
                                </div>
                                <!-- End Text input element -->

                                <!-- Begin Text input element -->
                                <div class="col-md-12">
                                    <div class="quform-element form-group">
                                        <div class="quform-input">
                                            <input class="form-control" id="email" type="text" name="email" placeholder="Your email here" />
                                        </div>
                                    </div>
                                </div>
                                <!-- End Text input element -->

                                <!-- Begin Text input element -->

                                <div class="col-md-12">
                                    <div class="quform-element form-group quform-select-replaced">
                                        <div class="quform-input">
                                            <input id="subject" class="form-control" type="text" name="subject" placeholder="Your subject here">
                                        </div>
                                    </div>

                                </div>

                                <!-- End Text input element -->

                                <!-- Begin Textarea element -->
                                <div class="col-md-12">
                                    <div class="quform-element form-group">
                                        <div class="quform-input">
                                            <textarea class="form-control" id="message" name="message" rows="3" placeholder="Tell us a few words"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Textarea element -->

                                <!-- Begin Captcha element -->
                                <div class="col-md-12">
                                    <div class="quform-element">
                                        <div class="form-group">
                                            <div class="quform-input">
                                                <input class="form-control" id="type_the_word" type="text" name="type_the_word" placeholder="Type the below word" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="quform-captcha">
                                                <div class="quform-captcha-inner">
                                                    <img src="{% static 'assets/quform/images/captcha/courier-new-light.png' %}" alt="...">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Captcha element -->

                                <!-- Begin Submit button -->
                                <div class="col-md-12">
                                    <div class="quform-submit-inner">
                                        <button class="butn-style9 w-100 border-0" type="submit">Send Message</button>
                                    </div>
                                    <div class="quform-loading-wrap text-start"><span class="quform-loading"></span></div>
                                </div>
                                <!-- End Submit button -->

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>