{% load static %}
<section class="p-8 bg-secondary">
    <div class="container">
        <div class="row mt-n1-9">
            <div class="col-sm-6 col-lg-3 mt-1-9 wow fadeInUp" data-wow-delay="200ms">
                <div class="text-center">
                    <div class="display-4 mb-2 text-white font-weight-900">
                        <div class="odometer odometer-auto-theme" data-count="350">0</div>+
                    </div>
                    <span class="mb-0 font-weight-400 d-inline-block text-white opacity8">Project Complete</span>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mt-1-9 wow fadeInUp" data-wow-delay="275ms">
                <div class="text-center">
                    <div class="display-4 mb-2 text-white font-weight-900">
                        <div class="odometer odometer-auto-theme" data-count="120">0</div>+
                    </div>
                    <span class="mb-0 font-weight-400 d-inline-block text-white opacity8">Happy Clients</span>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mt-1-9 wow fadeInUp" data-wow-delay="350ms">
                <div class="text-center">
                    <div class="display-4 mb-2 text-white font-weight-900">
                        <div class="odometer odometer-auto-theme" data-count="450">0</div>+
                    </div>
                    <span class="mb-0 font-weight-400 d-inline-block text-white opacity8">Trained Staff</span>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mt-1-9 wow fadeInUp" data-wow-delay="425ms">
                <div class="text-center">
                    <div class="display-4 mb-2 text-white font-weight-900">
                        <div class="odometer odometer-auto-theme" data-count="16">0</div>+
                    </div>
                    <span class="mb-0 font-weight-400 d-inline-block text-white opacity8">Years of Experience</span>
                </div>
            </div>
        </div>
    </div>
</section>