{% load static %}
<!-- TESTIMONIAL-->
<section>
    <div class="container">

        <div class="section-heading title-style5">
            <span>Testimonial</span>
            <h2 class="text-uppercase h1 lh-1">What People Say</h2>
            <div class="square">
                <span class="separator-left bg-primary"></span>
                <span class="separator-right bg-primary"></span>
            </div>
        </div>

        <div class="owl-carousel owl-theme testmonial-style5">
            <div class="row testmonials-style5 text-center text-lg-start">
                <div class="col-lg-3 mb-3 mb-lg-0">
                    <img alt="..." src="{% static 'assets/img/testmonials/t-4.png' %}">
                </div>
                <div class="col-lg-9">
                    <div class="data">
                        <p>Good service in design, Construction supervision, and ensuring quality work.</p>
                        <h5>Seven Circle (Bangladesh) Ltd.</h5><span>COO, Water Transport Department.</span>
                        <i class="fas fa-quote-right display-18 opacity1"></i>
                    </div>
                </div>
            </div>
            <div class="row testmonials-style5 text-center text-lg-start">
                <div class="col-lg-3 mb-3 mb-lg-0"><img alt="..." src="{% static 'assets/img/testmonials/t-5.jpg' %}">
                </div>
                <div class="col-lg-9">
                    <div class="data">
                        <p>Innovative design, Challenging work, and on-time delivery.</p>
                        <h5>Toggi Shipping & Logistics Limited.</h5><span>DIRECTOR</span>
                        <i class="fas fa-quote-right display-18 opacity1"></i>
                    </div>
                </div>
            </div>
            <div class="row testmonials-style5 text-center text-lg-start">
                <div class="col-lg-3 mb-3 mb-lg-0">
                    <img alt="..." src="{% static 'assets/img/testmonials/t-4.png' %}">
                </div>
                <div class="col-lg-9">
                    <div class="data">
                        <p>Quality work and ensuring standard in services.</p>
                        <h5>Mongla Port Authority</h5><span>CFO</span>
                        <i class="fas fa-quote-right display-18 opacity1"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>