{% load static %}
<!-- FOOTER -->
<footer>
<div class="container">
    <div class="row mt-n1-9">

        <div class="col-md-6 col-lg-4 mt-1-9">
            <div class="footer-logo">
                <a href="{% url 'home' %}"><img id="logo" src="{% static 'assets/img/logos/logo.png' %}" alt="logo" /></a>
            </div>
            <p class="mt-4 w-sm-90">
                Our primary mission is to design and build custom vessels as per client’s requirement according to classification societies standards.
            </p>
            <div class="mt-1-9 footer-social-icons">
                <ul class="ps-0">
                    <li><a href="https://www.facebook.com/p/Bay-Tech-100043399671762/"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="https://www.youtube.com/@bay-techshipyard82"><i class="fab fa-youtube"></i></a></li>
                    <li><a href="https://www.linkedin.com/company/bay-tech-ship/"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
            </div>

        </div>

        <div class="col-md-6 col-lg-4 mt-1-9">
            <h3 class="footer-title-style2 text-primary">Quick Links</h3>
            <div class="row">
                <div class="col-md-6 pe-lg-0">
                    <ul class="footer-list mb-2 mb-md-0 ps-0">
                        <li><a href="contact-4.html#!">Home</a></li>
                        <li><a href="contact-4.html#!">About Us</a></li>
                        <li><a href="contact-4.html#!">Facilities</a></li>
                        <li><a href="contact-4.html#!">Management</a></li>
                        <li><a href="contact-4.html#!">Business</a></li>
                        <li><a href="contact-4.html#!">News</a></li>
                    </ul>
                </div>
                <div class="col-md-6 pe-lg-0">
                    <ul class="footer-list ps-0">
                        <li><a href="contact-4.html#!">Projects</a></li>
                        <li><a href="contact-4.html#!">Office Order</a></li>
                        <li><a href="contact-4.html#!">NOC</a></li>
                        <li><a href="contact-4.html#!">Carriers</a></li>
                        <li><a href="contact-4.html#!">Photo Gallery</a></li>
                        <li><a href="contact-4.html#!">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 col-xl-3 offset-xl-1 mt-1-9">
            <h3 class="footer-title-style2 text-primary">Get in Touch</h3>
            <ul class="footer-list ps-0">
                <li>
                    <span class="d-inline-block align-top"><i class="fas fa-map-marker-alt text-primary"></i></span>
                    <span class="d-inline-block w-85 align-top ps-2">Toyenbee Circular Road, Motijheel C/A, Dhaka</span>
                </li>
                <li>
                    <span class="d-inline-block align-top"><i class="fas fa-map-marker-alt text-primary"></i></span>
                    <span class="d-inline-block w-85 align-top ps-2">Bibijora, Minar Bari, Bandar (Near Langalbandh), Narayanganj</span>
                </li>
                <li>
                    <span class="d-inline-block align-top"><i class="far fa-envelope text-primary"></i></span>
                    <span class="d-inline-block w-85 align-top ps-2">info@bay-techgroup.com</span>
                </li>
                <li>
                    <span class="d-inline-block align-top"><i class="fas fa-globe text-primary"></i></span>
                    <span class="d-inline-block w-85 align-top ps-2">www.bay-techgroup.com</span>
                </li>
            </ul>
        </div>

    </div>

</div>
<div class="footer-bar">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center text-md-start mb-2 mb-md-0">
                <p class="mb-0">&copy; Copyright Bay-TechGroup
                    <span class="current-year"></span>. All Rights Reserved.</p>
            </div>
            <div class="col-md-6 text-center text-md-end">
                Design and Developed by: <a href="#" class="text-primary text-white-hover">Technocraft Innovations</a>
            </div>
        </div>
    </div>
</div>
</footer>