{% load static %}
<header class="header-style2">

    <div class="top-bar bg-primary">
        <div class="container-fluid container-xl">
            <div class="row">
                <div class="col-md-9 col-xs-12">
                    <div class="top-bar-info">
                        <ul class="ps-0">
                            <li>
                                <!-- <i class="ti-mobile"></i>+88 02-223354902 -->
                                <a href="tel:+88 02-223354902"> +88 02-223354902 </a>
                            </li>
                            <li class="d-none d-sm-inline-block">
                                <!-- <i class="ti-email"></i>info@bay-techgroup.com -->
                                <a href="mailto:info@bay-techgroup.com">info@bay-techgroup.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-md-3 d-none d-md-block">
                    <ul class="top-social-icon ps-0">
                        <li><a href="https://www.facebook.com/p/Bay-Tech-100043399671762/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <!-- <li><a href="home-corporate-02.html#!"><i class="fa-brands fa-x-twitter"></i></a></li> -->
                        <li><a href="https://www.youtube.com/@bay-techshipyard82" target="_blank"><i class="fab fa-youtube"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/bay-tech-ship/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="navbar-default border-bottom border-color-light-white">

        <!-- start top search -->
        <div class="top-search bg-secondary">
            <div class="container-fluid container-xl">
                <form class="search-form" action="https://crizal.websitelayout.net/search.html" method="GET" accept-charset="utf-8">
                    <div class="input-group">
                        <span class="input-group-addon cursor-pointer">
                            <button class="search-form_submit fas fa-search text-white" type="submit"></button>
                        </span>
                        <input type="text" class="search-form_input form-control" name="s" autocomplete="off" placeholder="Type & hit enter...">
                        <span class="input-group-addon close-search mt-1"><i class="fas fa-times"></i></span>
                    </div>
                </form>
            </div>
        </div>
        <!-- end top search -->

        <div class="container-fluid container-xl">
            <div class="row align-items-center">
                <div class="col-12 col-lg-12">
                    <div class="menu_area alt-font">
                        <nav class="navbar navbar-expand-lg navbar-light p-0">
                            <div class="navbar-header navbar-header-custom">
                                <!-- start logo -->
                                <a href="{% url 'home' %}"><img id="logo" src="{% static 'assets/img/logos/logo.png' %}" alt="logo" /></a>
                                <!-- end logo -->
                            </div>

                            <div class="navbar-toggler bg-secondary"></div>

                            <!-- menu area -->
                            <ul class="navbar-nav ms-auto" id="nav" style="display: none;">
                                <li><a href="{% url 'home' %}">Home</a></li>
                                <li><a href="{% url 'home' %}">About Us</a>
                                    <ul>
                                        <li><a href="about_us.html">About Us</a></li>
                                        <li><a href="facilities.html">Our Facilities</a></li>
                                        <li><a href="management.html">Senior Management</a></li>
                                        <li><a href="team_members.html">Our Team Members</a></li>
                                    </ul>
                                </li>
                                <li><a href="#!">Business</a>
                                    <ul>
                                        <li><a href="ship_building.html">Ship Building & Repairing</a></li>
                                        <li><a href="ship_design.html">Ship Design & Consultancy</a></li>
                                        <li><a href="ndt_engineering.html">NDT & Engineering Services</a></li>
                                        <li><a href="dharla_logistics.html">Dharla Logistics (Pvt.) Limited </a></li>
                                    </ul>
                                </li>
                                <li><a href="home-corporate-02.html#!">Projects</a>
                                    <ul>
                                        <li><a href="home-corporate-02.html#!">Ongoing</a></li>
                                        <li><a href="loading-bar-banner.html">Completed</a></li>
                                    </ul>
                                </li>
                                <li><a href="home-corporate-02.html#!">Notice</a>
                                    <ul>
                                        <li><a href="home-corporate-02.html#!">Office Order</a></li>
                                        <li><a href="home-corporate-02.html#!">NOC</a></li>
                                    </ul>
                                </li>
                                <li><a href="home-corporate-02.html#!">Carriers</a>
                                    <ul>
                                        <li><a href="home-corporate-02.html#!">Available Job</a></li>
                                        <li><a href="home-corporate-02.html#!">Online Application</a></li>
                                    </ul>
                                </li>
                                <li><a href="home-corporate-02.html#!">News</a>
                                    <ul>
                                        <li><a href="home-corporate-02.html#!">News & Insights</a></li>
                                        <li><a href="home-corporate-02.html#!">Photo Gallery</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>
                            <!-- end menu area -->

                            <!-- start attribute navigation -->
                            <div class="attr-nav align-items-lg-center ms-lg-auto main-font">
                                <ul>
                                    <li class="search"><a href="home-corporate-02.html#!"><i class="fas fa-search"></i></a></li>
                                    <li class="d-none d-xxl-inline-block"><a href="contact.html" class="butn secondary small"><span>Free Quote</span></a></li>
                                </ul>
                            </div>
                            <!-- end attribute navigation -->

                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>