{% load static %}

<!-- all js include start -->

<!-- jQuery -->
<script src="{% static 'assets/js/jquery.min.js' %}"></script>

<!-- popper js -->
<script src="{% static 'assets/js/popper.min.js' %}"></script>

<!-- bootstrap -->
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

<!-- scroll -->
<script src="{% static 'assets/js/jquery.scrollbar.min.js' %}"></script>

<!-- core.min.js -->
<script src="{% static 'assets/js/core.min.js' %}"></script>

<!-- search -->
<script src="{% static 'assets/search/search.js' %}"></script>

<!-- custom scripts -->
<script src="{% static 'assets/js/main.js' %}"></script>

<!-- form plugins js -->
<!-- <script src="{% static 'assets/quform/js/plugins.js' %}"></script> -->

<!-- form scripts js -->
<!-- <script src="{% static 'assets/quform/js/scripts.js' %}"></script> -->

<!-- all js include end -->