{% load static %}

{% for message in messages %}
    <script>
        (function () {
            $(function () {
                {% if message.tags == 'danger' %}
                    $.growl.error({
                        message: "{{ message }}"
                    });
                {% elif message.tags == 'warning' %} 
                    $.growl.warning({
                        message: "{{ message }}"
                    });
                {% else %} // success message
                    $.growl.notice({
                        message: "{{ message }}"
                    });
                {% endif %}
        });
        }).call(this);
    </script>
{% endfor %}