{% load custom_tags %}

{% with request|get_params as params %}
<div class="text-center">
    {% if items.has_previous %}
        <a href="{{ request.path }}?page=1&{{ params }}" class="btn btn-outline-info">First</a>
        <a href="{{ request.path }}?page={{ items.previous_page_number }}&{{ params }}" class="btn btn-outline-info"><<--Previous</a>
    {% endif %}
    
    {% for n in items.paginator.page_range %}
        {% if items.number == n %}
        <a href="{{ request.path }}?page={{ n }}&{{ params }}" class="btn btn-outline-info active">{{ n }}</a>
        {% elif n > items.number|add:'-5' and n < items.number|add:'5' %}
        <a href="{{ request.path }}?page={{ n }}&{{ params }}" class="btn btn-outline-info">{{ n }}</a>
        {% endif %}
    {% endfor %}

    {% if items.has_next %}
        <a href="{{ request.path }}?page={{ items.next_page_number }}&{{ params }}" class="btn btn-outline-info">Next-->></a>
        <a href="{{ request.path }}?page={{ items.paginator.num_pages }}&{{ params }}" class="btn btn-outline-info">Last</a>
    {% endif %}
</div>
{% endwith %}