{% load static %}
<section class="p-3 overflow-visible bg-transparent portfolio-main position-relative z-index-9">
    <div class="container">
        <div class="title-style14 mb-1-9 text-center">
            <h2 class="mb-0 display-5 font-weight-800 w-md-70 w-lg-55 mx-auto lh-1">Check out our project <span class="title-sm">showcase</span></h2>
        </div>
    </div>
    <div class="container-fluid">

        <div class="portfolio-carousel-01 owl-carousel owl-theme">

            <div class="card-style9 position-relative border-radius-5">
                <div class="card-img overflow-hidden border-radius-5">
                    <img src="{% static 'assets/img/portfolio/portfolio-17.jpg' %}" alt="..." class="border-radius-5">
                </div>
                <div class="card-content card-custom">
                    <h5 class="card-text d-block mb-3"><a href="project-detail.html">Business Consultation</a></h5>
                    <span class="card-text text-primary mb-1 text-uppercase font-weight-600 small">Business</span>
                </div>
                <a class="card-icon" href="project-detail.html"><i class="ti-arrow-right"></i></a>
            </div>

            <div class="card-style9 position-relative border-radius-5">
                <div class="card-img overflow-hidden border-radius-5">
                    <img src="{% static 'assets/img/portfolio/portfolio-18.jpg' %}" alt="..." class="border-radius-5">
                </div>
                <div class="card-content card-custom">
                    <h5 class="card-text d-block mb-3"><a href="project-detail.html">Digital Marketing</a></h5>
                    <span class="card-text text-primary mb-1 text-uppercase font-weight-600 small">Marketing</span>
                </div>
                <a class="card-icon" href="project-detail.html"><i class="ti-arrow-right"></i></a>
            </div>

            <div class="card-style9 position-relative border-radius-5">
                <div class="card-img overflow-hidden border-radius-5">
                    <img src="{% static 'assets/img/portfolio/portfolio-19.jpg' %}" alt="..." class="border-radius-5">
                </div>
                <div class="card-content card-custom">
                    <h5 class="card-text d-block mb-3"><a href="project-detail.html">Data Analytics</a></h5>
                    <span class="card-text text-primary mb-1 text-uppercase font-weight-600 small">Agency</span>
                </div>
                <a class="card-icon" href="project-detail.html"><i class="ti-arrow-right"></i></a>
            </div>

            <div class="card-style9 position-relative border-radius-5">
                <div class="card-img overflow-hidden border-radius-5">
                    <img src="{% static 'assets/img/portfolio/portfolio-20.jpg' %}" alt="..." class="border-radius-5">
                </div>
                <div class="card-content card-custom">
                    <h5 class="card-text d-block mb-3"><a href="project-detail.html">Finance Strategy</a></h5>
                    <span class="card-text text-primary mb-1 text-uppercase font-weight-600 small">Finance</span>
                </div>
                <a class="card-icon" href="project-detail.html"><i class="ti-arrow-right"></i></a>
            </div>

            <div class="card-style9 position-relative border-radius-5">
                <div class="card-img overflow-hidden border-radius-5">
                    <img src="{% static 'assets/img/portfolio/portfolio-21.jpg' %}" alt="..." class="border-radius-5">
                </div>
                <div class="card-content card-custom">
                    <h5 class="card-text d-block mb-3"><a href="project-detail.html">Corporate Audit</a></h5>
                    <span class="card-text text-primary mb-1 text-uppercase font-weight-600 small">Trading</span>
                </div>
                <a class="card-icon" href="project-detail.html"><i class="ti-arrow-right"></i></a>
            </div>

            <div class="card-style9 position-relative border-radius-5">
                <div class="card-img overflow-hidden border-radius-5">
                    <img src="{% static 'assets/img/portfolio/portfolio-22.jpg' %}" alt="..." class="border-radius-5">
                </div>
                <div class="card-content card-custom">
                    <h5 class="card-text d-block mb-3"><a href="project-detail.html">Business Operations</a></h5>
                    <span class="card-text text-primary mb-1 text-uppercase font-weight-600 small">Finance</span>
                </div>
                <a class="card-icon" href="project-detail.html"><i class="ti-arrow-right"></i></a>
            </div>

        </div>
    </div>
</section>