{% load static %}
<section class="p-3 overflow-visible bg-transparent portfolio-main position-relative z-index-9" id="id_projects">
    <div class="container">
        <div class="col-lg-12 mt-8 mb-1-9">
            <div class="row align-items-center mt-n4">
                <div class="col-lg-7 col-xl-6 mt-4">
                    <div class="title-style14">
                        <h2 class="mb-0 display-5 font-weight-800 lh-1">
                            Check out our project<span class="title-sm">showcase</span>
                        </h2>
                    </div>
                </div>
                <div class="col-lg-5 col-xl-6 mt-4">
                    <div class="text-start text-lg-end">
                        <a href="{% url 'new_building_project_list' %}" class="butn-style9"><span class="text-btn">All Projects</span></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="portfolio-carousel-01 owl-carousel owl-theme">

            <div class="card-style9 position-relative border-radius-5">
                <div class="card-img overflow-hidden border-radius-5">
                    <img src="{% static 'assets/img/portfolio/project-1.jpg' %}" alt="..." class="border-radius-5">
                </div>
                <div class="card-content card-custom">
                    <h5 class="card-text d-block mb-3"><a href="{% url 'new_building_project_list' %}">Oil Tanker</a></h5>
                    <span class="card-text text-primary mb-1 text-uppercase font-weight-600 small">Tanker</span>
                </div>
                <a class="card-icon" href="{% url 'new_building_project_list' %}"><i class="ti-arrow-right"></i></a>
            </div>

            <div class="card-style9 position-relative border-radius-5">
                <div class="card-img overflow-hidden border-radius-5">
                    <img src="{% static 'assets/img/portfolio/project-2.jpg' %}" alt="..." class="border-radius-5">
                </div>
                <div class="card-content card-custom">
                    <h5 class="card-text d-block mb-3"><a href="{% url 'new_building_project_list' %}">M.V. FARHAN-10</a></h5>
                    <span class="card-text text-primary mb-1 text-uppercase font-weight-600 small">Passenger Vessel</span>
                </div>
                <a class="card-icon" href="{% url 'new_building_project_list' %}"><i class="ti-arrow-right"></i></a>
            </div>

            <div class="card-style9 position-relative border-radius-5">
                <div class="card-img overflow-hidden border-radius-5">
                    <img src="{% static 'assets/img/portfolio/project-3.jpg' %}" alt="..." class="border-radius-5">
                </div>
                <div class="card-content card-custom">
                    <h5 class="card-text d-block mb-3"><a href="{% url 'new_building_project_list' %}">1925 DWT cargo vessel</a></h5>
                    <span class="card-text text-primary mb-1 text-uppercase font-weight-600 small">Cargo Vessel</span>
                </div>
                <a class="card-icon" href="{% url 'new_building_project_list' %}"><i class="ti-arrow-right"></i></a>
            </div>

            <div class="card-style9 position-relative border-radius-5">
                <div class="card-img overflow-hidden border-radius-5">
                    <img src="{% static 'assets/img/portfolio/project-4.jpg' %}" alt="..." class="border-radius-5">
                </div>
                <div class="card-content card-custom">
                    <h5 class="card-text d-block mb-3"><a href="{% url 'new_building_project_list' %}">Survey Boat</a></h5>
                    <span class="card-text text-primary mb-1 text-uppercase font-weight-600 small">Survey</span>
                </div>
                <a class="card-icon" href="{% url 'new_building_project_list' %}"><i class="ti-arrow-right"></i></a>
            </div>

            <div class="card-style9 position-relative border-radius-5">
                <div class="card-img overflow-hidden border-radius-5">
                    <img src="{% static 'assets/img/portfolio/project-5.jpg' %}" alt="..." class="border-radius-5">
                </div>
                <div class="card-content card-custom">
                    <h5 class="card-text d-block mb-3"><a href="{% url 'new_building_project_list' %}">Survey Vessel</a></h5>
                    <span class="card-text text-primary mb-1 text-uppercase font-weight-600 small">Survey</span>
                </div>
                <a class="card-icon" href="{% url 'new_building_project_list' %}"><i class="ti-arrow-right"></i></a>
            </div>

            <div class="card-style9 position-relative border-radius-5">
                <div class="card-img overflow-hidden border-radius-5">
                    <img src="{% static 'assets/img/portfolio/project-6.jpg' %}" alt="..." class="border-radius-5">
                </div>
                <div class="card-content card-custom">
                    <h5 class="card-text d-block mb-3"><a href="{% url 'new_building_project_list' %}">Self Unloading Stone Carrier</a></h5>
                    <span class="card-text text-primary mb-1 text-uppercase font-weight-600 small">M.V. RANIA-6</span>
                </div>
                <a class="card-icon" href="{% url 'new_building_project_list' %}"><i class="ti-arrow-right"></i></a>
            </div>

        </div>
    </div>
</section>