{% load static %}
<section class="service-style01 mx-xl-4 rounded-lg bg-light">
    <div class="container">
        <div class="row position-relative z-index-9 g-xl-5 mt-n5">
            <div class="col-lg-12 mt-5">
                <div class="row align-items-center mt-n4">
                    <div class="col-lg-7 col-xl-6 mt-4">
                        <div class="title-style14">
                            <h2 class="mb-0 display-5 font-weight-800 lh-1">
                                We Provide Ship Design & <span class="title-sm">Ship Building Services</span>
                            </h2>
                        </div>
                    </div>
                    <div class="col-lg-5 col-xl-6 mt-4">
                        <div class="text-start text-lg-end">
                            <a href="services.html" class="butn-style9"><span class="text-btn">All Services</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="service-grids owl-carousel owl-theme" id="service-grids">
                <div class="service-block">
                    <div class="img-holder">
                        <img alt="..." src="{% static 'assets/img/content/services/service-1b.jpg' %}">
                    </div>
                    <div class="details">
                        <div class="number alt-font">01</div>
                        <h4><a href="services-3.html#!">Business Growth</a></h4>
                        <p>Exhaustive technology of implementing multi purpose project.</p>
                        <a class="read-more" href="services-3.html#!">Read More</a>
                    </div>
                </div>
                <div class="service-block">
                    <div class="img-holder">
                        <img alt="..." src="{% static 'assets/img/content/services/service-2b.jpg' %}">
                    </div>
                    <div class="details">
                        <div class="number alt-font">02</div>
                        <h4><a href="services-3.html#!">Investment Plan</a></h4>
                        <p>Exhaustive technology of implementing multi purpose project.</p>
                        <a class="read-more" href="services-3.html#!">Read More</a>
                    </div>
                </div>
                <div class="service-block">
                    <div class="img-holder">
                        <img alt="..." src="{% static 'assets/img/content/services/service-3b.jpg' %}">
                    </div>
                    <div class="details">
                        <div class="number alt-font">03</div>
                        <h4><a href="services-3.html#!">Business Plan</a></h4>
                        <p>Exhaustive technology of implementing multi purpose project.</p>
                        <a class="read-more" href="services-3.html#!">Read More</a>
                    </div>
                </div>
                <div class="service-block">
                    <div class="img-holder">
                        <img alt="..." src="{% static 'assets/img/content/services/service-4b.jpg' %}">
                    </div>
                    <div class="details">
                        <div class="number alt-font">04</div>
                        <h4><a href="services-3.html#!">Risk Management</a></h4>
                        <p>Exhaustive technology of implementing multi purpose project.</p>
                        <a class="read-more" href="services-3.html#!">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>