{% load static %}
<section class="service-style01 mx-xl-4 rounded-lg bg-light" id="id_business">
    <div class="container">
        <div class="row position-relative z-index-9 g-xl-5 mt-n5">
            <div class="col-lg-12 mt-5">
                <div class="row align-items-center mt-n4">
                    <div class="col-lg-7 col-xl-6 mt-4">
                        <div class="title-style14">
                            <h2 class="mb-0 display-5 font-weight-800 lh-1">
                                We Provide Ship Design & <span class="title-sm">Ship Building Services</span>
                            </h2>
                        </div>
                    </div>
                    <div class="col-lg-5 col-xl-6 mt-4">
                        <div class="text-start text-lg-end">
                            <a href="{% url 'all_business_list' %}" class="butn-style9"><span class="text-btn">All Business</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="service-grids owl-carousel owl-theme" id="service-grids">
                <div class="service-block">
                    <div class="img-holder">
                        <img alt="..." src="{% static 'assets/img/content/services/content-01.jpg' %}">
                    </div>
                    <div class="details">
                        <div class="number alt-font">01</div>
                        <h4><a href="{% url 'all_business_list' %}">Ship Building & Repairing</a></h4>
                        <p>Bay-Tech has developed strengths in conceptual, basic and detailed ship design.</p>
                        <a class="read-more" href="{% url 'all_business_list' %}">Read More</a>
                    </div>
                </div>
                <div class="service-block">
                    <div class="img-holder">
                        <img alt="..." src="{% static 'assets/img/content/services/service-2.jpg' %}">
                    </div>
                    <div class="details">
                        <div class="number alt-font">02</div>
                        <h4><a href="{% url 'all_business_list' %}">Ship design & Consultancy</a></h4>
                        <p>Bay-Tech Ship Solution Zone (BSSZ) is an enlisted ship design firm from the Department of Shipping (DOS), established in 2008</p>
                        <a class="read-more" href="{% url 'all_business_list' %}">Read More</a>
                    </div>
                </div>
                <div class="service-block">
                    <div class="img-holder">
                        <img alt="..." src="{% static 'assets/img/content/services/content-02.jpg' %}">
                    </div>
                    <div class="details">
                        <div class="number alt-font">03</div>
                        <h4><a href="{% url 'all_business_list' %}">NDT & Engineering services</a></h4>
                        <p>Bay-Tech NDT & Engineering services provide modern advanced non-destructive testing (NDT) services.</p>
                        <a class="read-more" href="{% url 'all_business_list' %}">Read More</a>
                    </div>
                </div>
                <div class="service-block">
                    <div class="img-holder">
                        <img alt="..." src="{% static 'assets/img/content/services/service-4b.jpg' %}">
                    </div>
                    <div class="details">
                        <div class="number alt-font">04</div>
                        <h4><a href="{% url 'all_business_list' %}">Dharla Logistics (Pvt.) Limited</a></h4>
                        <p>Dharla Logistics (Pvt.) Limited is a premier provider of comprehensive logistics solutions.</p>
                        <a class="read-more" href="{% url 'all_business_list' %}">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>