{% load static %}
<section class="service-style01 p-0 mx-xl-4 rounded-lg bg-light">
    <div class="container">
        <div class="row position-relative z-index-9 g-xl-5 mt-n5">
            <div class="col-lg-12 mt-5">
                <div class="row align-items-center mt-n4">
                    <div class="col-lg-7 col-xl-6 mt-4">
                        <div class="title-style14">
                            <h2 class="mb-0 display-5 font-weight-800 lh-1">
                                Meet Our Professional<span class="title-sm">Team Members</span>
                            </h2>
                        </div>
                    </div>
                    <div class="col-lg-5 col-xl-6 mt-4">
                        <div class="text-start text-lg-end">
                            <a href="services.html" class="butn-style9"><span class="text-btn">All Teams</span></a>
                        </div>
                    </div>
                </div>
            </div>
            

            <div class="row mt-n1-9 pt-5">
                <div class="col-sm-6 col-lg-3 mt-1-9">
                    <div class="team-members">
                        <div class="team-members-img"><img alt="..." src="{% static 'assets/img/team/team-01.jpg' %}"></div>
                        <div class="team-members-text">
                            <h4><a href="team-4.html#!">Jamara Karle</a></h4><span>Founder</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 mt-1-9">
                    <div class="team-members">
                        <div class="team-members-img"><img alt="..." src="{% static 'assets/img/team/team-02.jpg' %}">
                        </div>
                        <div class="team-members-text">
                            <h4><a href="team-4.html#!">Keir Prestonly</a></h4><span>Co-Founder</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 mt-1-9">
                    <div class="team-members">
                        <div class="team-members-img"><img alt="..." src="{% static 'assets/img/team/team-03.jpg' %}"></div>
                        <div class="team-members-text">
                            <h4><a href="team-4.html#!">Finley Walkeror</a></h4><span>Developer</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 mt-1-9">
                    <div class="team-members">
                        <div class="team-members-img"><img alt="..." src="{% static 'assets/img/team/team-04.jpg' %}"></div>
                        <div class="team-members-text">
                            <h4><a href="team-4.html#!">Lenethi  Miloler</a></h4><span>Designer</span>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>