{% load static %}
<section class="service-style01 p-8 mx-xl-4 rounded-lg bg-light" id="id_management">
    <div class="container">
        <div class="row position-relative z-index-9 g-xl-5 mt-n5">
            <div class="col-lg-12 mt-5">
                <div class="row align-items-center mt-n4">
                    <div class="col-lg-7 col-xl-6 mt-4">
                        <div class="title-style14">
                            <h2 class="mb-0 display-5 font-weight-800 lh-1">
                                Meet Our Professional<span class="title-sm">Team Members</span>
                            </h2>
                        </div>
                    </div>
                    <div class="col-lg-5 col-xl-6 mt-4">
                        <div class="text-start text-lg-end">
                            <a href="{% url 'team_members_list' %}" class="butn-style9"><span class="text-btn">All Teams</span></a>
                        </div>
                    </div>
                </div>
            </div>
            

            <div class="row mt-n1-9 pt-5">
                <div class="col-sm-6 col-lg-3 mt-1-9">
                    <div class="team-members">
                        <div class="team-members-img"><img alt="..." src="{% static 'assets/img/team/owner.jpg' %}"></div>
                        <div class="team-members-text">
                            <h4><a href="{% url 'team_member_details' 2 %}">Engr. Md. Tazul Islam</a></h4><span>Owner and Chairman Bay-Tech Group</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 mt-1-9">
                    <div class="team-members">
                        <div class="team-members-img"><img alt="..." src="{% static 'assets/img/team/td.jpg' %}">
                        </div>
                        <div class="team-members-text">
                            <h4><a href="{% url 'team_member_details' 2 %}">Mohammed Fazlul Karim</a></h4><span>Technical Director</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 mt-1-9">
                    <div class="team-members">
                        <div class="team-members-img"><img alt="..." src="{% static 'assets/img/team/gm.jpg' %}"></div>
                        <div class="team-members-text">
                            <h4><a href="{% url 'team_member_details' 2 %}">Md. Reazul Islam</a></h4><span>General Manager (HR, Admin & Procurement)</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 mt-1-9">
                    <div class="team-members">
                        <div class="team-members-img"><img alt="..." src="{% static 'assets/img/team/accounts.jpg' %}"></div>
                        <div class="team-members-text">
                            <h4><a href="{% url 'team_member_details' 2 %}">Md. Moshfeq-Ur- Rashid</a></h4><span>GM (Head Of Finance & Accounts)</span>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>